<a href="https://colab.research.google.com/github/ACoder-MAB/study01/blob/main/pythontutor_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вводная

## Ресурсы по теме
https://github.com/ACoder-MAB/study01.git

GitHub - ACoder-MAB / study01

### Работа с блокнотами в Colab
- [Общие сведения о Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Руководство для Markdown](/notebooks/markdown_guide.ipynb)
- [Импорт библиотек и установка зависимостей](/notebooks/snippets/importing_libraries.ipynb)
- [Сохранение и загрузка блокнотов в GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Интерактивные формы](/notebooks/forms.ipynb)
- [Интерактивные виджеты](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>
 [TensorFlow 2 в Colab](/notebooks/tensorflow_version.ipynb)

<a name="working-with-data"></a>
### Работа с данными
- [Загрузка данных: Диск, Таблицы и Google Cloud Storage](/notebooks/io.ipynb) 
- [Диаграмма: визуализация данных](/notebooks/charts.ipynb)
- [Начало работы с BigQuery](/notebooks/bigquery.ipynb)

### Экспресс-курс по машинному обучению
Вот несколько блокнотов из онлайн-курса по машинному обучению от Google. Ещё больше информации доступно на <a href="https://developers.google.com/machine-learning/crash-course/">сайте курса</a>.
- [Введение в pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Концепции TensorFlow](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [Начало работы с TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Введение в нейросети](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Введение в разреженные данные и встраивания](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

<a name="using-accelerated-hardware"></a>
### Использование ускорителей
- [TensorFlow с графическими процессорами](/notebooks/gpu.ipynb)
- [TensorFlow с TPU](/notebooks/tpu.ipynb)

### [Методы оптимизации](https://colab.research.google.com/github/alsprogrammer/optimization_course/blob/master/Task1.ipynb)

**Основы оптимизации**

В этой работе мы рассмотрим основы оптимизации, для чего она используется, и рассмотрим базовые подходы,а так же познакомимся с возможностями Jupyter Notebook и Google Colab.

*  перейти по ссылке и рзаобрать примеры
* найти другие примеры с описанием

# Занятие 1. Ввод и вывод данных

## Теория

Для печати значений в Питоне есть функция print(). Внутри круглых скобок через запятую мы пишем то, что хотим вывести. Вот программа, которая делает несколько вычислений:

разбор примеров с 
https://pythontutor.ru/lessons/inout_and_arithmetic_operations/

In [ ]:
print(5 + 10)
print(3 * 7, (17 - 2) * 8)
print(2 ** 16)                  # две звёздочки означают возведение в степень
print(37 / 3)                   # один слэш — это деление с ответом-дробью
print(37 // 3)                  # два слэша считают частное от деления нацело
                                # это как операция div в других языках
print(37 % 3)                   # процент считает остаток от деления нацело
                                # это как операция mod в других языках

print( "текст ", 3*7)

15
21 120
65536
12.333333333333334
12
1
текст  21

Для ввода данных в программу мы используем функцию input(). Она считывает одну строку.

Вот программа, которая считывает имя пользователя и приветствует его:

In [ ]:
print('Как вас зовут?')
name = input()            #read line and put it in to the var
print('Hello, ' + name + '!')

Как вас зовут?
1
Hello, 1!

In [ ]:
a = input()
b = input()
s = a + b
print(s)

a = int(a)
b = int(b)
s = a + b
print(s)

4
5
45
9

## Задачи

Условие
Напишите программу, которая считывает длины двух катетов в прямоугольном треугольнике и выводит его площадь. Каждое число записано в отдельной строке.

In [ ]:
print('Введите 1-й катет прям.уг. треугольника')
k1 = int(input())
print('Введите 2-й катет прям.уг. треугольника')
k2 = int(input())
s = 1/2 * k1 * k2
print('Полощадь треугольника =', s)

Введите 1-й катет прям.уг. треугольника
3
Введите 2-й катет прям.уг. треугольника
4
Полощадь треугольника = 6.0

# [Занятие 2. Условия](https://pythontutor.ru/lessons/ifelse/)

## Теория
Все ранее рассматриваемые программы имели линейную структуру: все инструкции выполнялись последовательно одна за одной, каждая записанная инструкция обязательно выполняется.

Допустим мы хотим по данному числу x определить его абсолютную величину (модуль). Программа должна напечатать значение переменной x, если x>0 или же величину -x в противном случае. Линейная структура программы нарушается: в зависимости от справедливости условия x>0 должна быть выведена одна или другая величина.

In [ ]:
x = int(input())
if x > 0:  
      print(x)
else:
      print(-x)

-99
99

In [ ]:
# неполное ветвление
x = int(input())
if x < 0:
    x = -x
print(x)

9
9

In [ ]:
# (n % 2 == 0) (остаток от деления n на 2 равен 0)
# Пример. Проверим, что хотя бы одно из чисел a или b оканчивается на 0:

a = int(input())
b = int(input())
if a % 10 == 0 or b % 10 == 0:
    print('YES')
else:
    print('NO')

100
1
YES

## Задачи

In [ ]:
# Даны два целых числа. Выведите значение наименьшего из них.
a = int(input())
b = int(input())

if a > b:
  print(a)
else:
  print(b)

-10
-99
-10

In [ ]:
# Списки
int_list = [3,4,5]
hg_list = ["строка", 0.1, True]
list_of_lists = [int_list, hg_list, []]
print(int_list)
print(hg_list)
print(list_of_lists)

for i in

[3, 4, 5]
['строка', 0.1, True]
[[3, 4, 5], ['строка', 0.1, True], []]
3
12

**[Посчитать количество одинаковых элементов в списке](https://younglinux.info/python/task/list-dict)**

In [ ]:
""" ВЕРНУТЬСЯ к примеру и разобрать!!! """
def fill_list(m1, m2, amount, l):
    from random import randint
    for i in range(amount):
        l.append(randint(m1, m2))
 
 
def analysis(your_list, your_dict):
    for i in your_list:
        if i in your_dict:
            your_dict[i] += 1
        else:
            your_dict[i] = 1
 
 
lst = []
dct = {}
 
mn = int(input('Минимум: '))
mx = int(input('Максимум: '))
qty = int(input('Количество элементов: '))
 
fill_list(mn, mx, qty, lst)
analysis(lst, dct)
 
for item in sorted(dct):
    print("'%d':%d" % (item, dct[item]))

Минимум: 50
Максимум: 70
Количество элементов: 33
'51':3
'52':1
'53':1
'54':4
'57':2
'59':2
'60':1
'61':1
'62':1
'63':3
'64':3
'65':4
'66':1
'67':2
'68':1
'70':3

# [Занятие 3. Вычисления](https://pythontutor.ru/lessons/int_and_float/)

## Целочисленная арифметика
Для целых чисел определены операции: +, -, * и **. 
Операция деления / для целых чисел возвращает вещественное число (значение типа float). 
Также функция возведения в степень возвращает значение типа float, если показатель степени — отрицательное число.

Но есть и специальная операция целочисленного деления, выполняющегося с отбрасыванием дробной части, которая обозначается // (она соответствует операции div в Паскале). Она возвращает целое число: целую часть частного. 

Другая близкая ей операция − это операция взятия остатка от деления, обозначаемая % (она соответствует операции mod в Паскале). Например:

In [ ]:
print( 17  / 3)    
print( 17 // 3)    # целочисленного деления, выполняющегося с отбрасыванием дробной части
print( 17 %  3)    # взятия остатка от деления, обозначаемая % (она соответствует операции mod в Паскале)

print( 17  / 2,  17 // 2,  17 %  2, 16 % 2, 15 % 2, )    # взятия остатка от деления, обозначаемая % (она соответствует операции mod в Паскале)

5.666666666666667
5
2
8.5 8 1 0 1

In [ ]:
# Действительные числа
# В этом разделе речь пойдет о действительных числах, имеющих тип float.
x = float(input())
print(x)

5
5.0

In [ ]:
# Библиотека math

import math

# округлять вещественные числа до ближайшего целого числа вверх.
x = math.ceil(4.2)
print(x)
print(math.ceil(4.8))
print(math.pi)

5
5
3.141592653589793

In [ ]:
from math import ceil
print(ceil(7/2))
# print(pi)

4

## TASKS

```python
print(5 + 10)
print(3 * 7, (17 - 2) * 8)
print(2 ** 16)  # две звёздочки означают возведение в степень
print(37 / 3)   # один слэш — это деление с ответом-дробью
print(37 // 3)  # два слэша считают частное от деления нацело, это как операция div в других языках
print(37 % 3)   # процент считает остаток от деления нацело - это как операция mod в других языках
```

In [ ]:
print(5 + 10)
print(3 * 7, (17 - 2) * 8)
print(2 ** 16)  # две звёздочки означают возведение в степень
print(3 / 2)   # один слэш — это деление с ответом-дробью
print(3 // 2)  # два слэша считают частное от деления нацело, это как операция div в других языках
print(3 % 2)   # процент считает остаток от деления нацело - это как операция mod в других языках

15
21 120
65536
1.5
1
1

In [ ]:
# Дано натуральное число. Выведите его последнюю цифру.
# % процент считает остаток от деления нацело - это как операция mod в других языках

x = int(input())
print(x % 10)

67
7

In [ ]:
''' Условие
      Длина Московской кольцевой автомобильной дороги — 109 километров. 
      Байкер Вася стартует с нулевого километра МКАД и едет со скоростью v километров в час. 
      На какой отметке он остановится через t часов?

Программа получает на вход значение v и t. Если v>0, то Вася движется в положительном направлении по МКАД, если же значение v<0, то в отрицательном.
Программа должна вывести целое число от 0 до 108 — номер отметки, на которой остановится Вася.
'''
m = 109    # Длина Московской кольцевой автомобильной дороги — 109 километров

print('Enter Velocity:')
v = int(input())

print('Enter Time in road:')
t = int(input())

if v > 0:      # v>0, то Вася движется в положительном направлении по МКАД
  s = v*t % m  # остаток от деления нацело кол-ва кругов по МКАД
else:
  s = 109 - abs(v)*t % m

print('The Biker stops on mark:',s,'km')

Enter Velocity: %v
-60
Enter Time in road:
4
The Biker stops on mark: 87 km

In [ ]:
# Условие:   Дано положительное действительное число X. Выведите его дробную часть.

x = float(input())
print( round( x % 1, 4))         # Остаток от деления на единицу, даст нужный результат

19.99
0.99

> [Задача «Первая цифра после точки»](https://pythontutor.ru/lessons/int_and_float/problems/digit_after_separator/)

In [ ]:
# Условие: Дано положительное действительное число X. Выведите его первую цифру после десятичной точки.

x = float(input())
print(int(x * 10) % 10)

1.79
7

> [Задача «Конец уроков»](https://pythontutor.ru/lessons/int_and_float/problems/konec_urokov/)

**Условие:**
* В некоторой школе занятия начинаются в 9:00. 
* Продолжительность урока — 45 минут, 
* после 1-го, 3-го, 5-го и т.д. уроков перемена 5 минут, 
* а после 2-го, 4-го, 6-го и т.д. — 15 минут.

**ВОПРОС:**
Дан номер урока (число от 1 до 10). 
* Определите, когда заканчивается указанный урок.
* Выведите два целых числа: время окончания урока в часах и минутах.

In [ ]:
# РЕШЕНИЕ

less_dur      = 45    # Продолжительность 1 урока      = 45 мин
turn_even_dur = 15    # Перемена после четного урока   = 15 мин
turn_odd_dur  =  5    # перемена после нечетного урока =  5 мин

print('-------------------------------------------------------')
print('Enter lesson number (from 1 to 10):')
num_less = int(input())

print('Duration of All Lessons:',num_less *  45)
print('Number of turns:' ,num_less - 1)
print('-------------------------------------------------------')
num_odd_turns  =   ( (num_less - 1) - ( (num_less - 1) // 2 ) ) # кол-во Нечетных перемен
num_even_turns =   (num_less - 1) // 2                          # кол-во четных перемен
print('Num of Odd Turns',  num_odd_turns )          
print('Num of Even Turns', num_even_turns)                                 
print('-------------------------------------------------------')
total_les_tutn_dur = (num_less *  45 + num_odd_turns * 5 + num_even_turns * 15)
les_end_time_hr  =  9 + total_les_tutn_dur // 60                # 9 + длительность уроков и перемен в часах
les_end_time_min =  total_les_tutn_dur  % 60                    # остаток длительности в минутах
print('Lesson',num_less,'Ends at ',  les_end_time_hr, ':', les_end_time_min)
print('-------------------------------------------------------')

Enter lesson number (from 1 to 10):
5
Duration of All Lessons: 225
Number of turns: 4
-------------------------------------------------------
Num of Odd Turns 2
Num of Even Turns 2
-------------------------------------------------------
Lesson 5 Ends at  13 : 25

In [ ]:
# Типовые примеры деления
print('Деление 1/2 - Обычное деление', 1 / 2 , ', // Частное от деления нацело(div)', 1 // 2 , ', % Остаток от деления нацело (mod)', 1 % 2 )
print('Деление 2/2 - Обычное деление', 2 / 2 , ', // Частное от деления нацело(div)', 2 // 2 , ', % Остаток от деления нацело (mod)', 2 % 2 )
print('Деление 3/2 - Обычное деление', 3 / 2 , ', // Частное от деления нацело(div)', 3 // 2 , ', % Остаток от деления нацело (mod)', 3 % 2 )
print('Деление 4/2 - Обычное деление', 4 / 2 , ', // Частное от деления нацело(div)', 4 // 2 , ', % Остаток от деления нацело (mod)', 4 % 2 )
print('Деление 5/2 - Обычное деление', 5 / 2 , ', // Частное от деления нацело(div)', 5 // 2 , ', % Остаток от деления нацело (mod)', 5 % 2 )
print('Деление 6/2 - Обычное деление', 6 / 2 , ', // Частное от деления нацело(div)', 6 // 2 , ', % Остаток от деления нацело (mod)', 6 % 2 )
print('Деление 77/2 - Обычное деление', 77 / 2 , ', // Частное от деления нацело(div)', 77 // 2 , ', % Остаток от деления нацело (mod)', 77 % 2 )

Деление 1/2 - Обычное деление 0.5 , // Частное от деления нацело(div) 0 , % Остаток от деления нацело (mod) 1
Деление 2/2 - Обычное деление 1.0 , // Частное от деления нацело(div) 1 , % Остаток от деления нацело (mod) 0
Деление 3/2 - Обычное деление 1.5 , // Частное от деления нацело(div) 1 , % Остаток от деления нацело (mod) 1
Деление 4/2 - Обычное деление 2.0 , // Частное от деления нацело(div) 2 , % Остаток от деления нацело (mod) 0
Деление 5/2 - Обычное деление 2.5 , // Частное от деления нацело(div) 2 , % Остаток от деления нацело (mod) 1
Деление 6/2 - Обычное деление 3.0 , // Частное от деления нацело(div) 3 , % Остаток от деления нацело (mod) 0
Деление 77/2 - Обычное деление 38.5 , // Частное от деления нацело(div) 38 , % Остаток от деления нацело (mod) 1

> [Задача «Автопробег»](https://pythontutor.ru/lessons/int_and_float/problems/motor_rally/)

**Условие**
* За день машина проезжает n километров. 

**ВОПРОС** 
* Сколько дней нужно, чтобы проехать маршрут длиной m километров? 
* Программа получает на вход числа n и m.

In [ ]:
from math import ceil 

day_dist  = int(input())
full_road = int(input())
print('------------------------')

print('Car need to drive', ceil(full_road / day_dist))

700
2100
------------------------
Car need to drive 3

> [Задача «Автопробег»](https://pythontutor.ru/lessons/int_and_float/problems/motor_rally/)

**Условие**
* За день машина проезжает n километров. 

**ВОПРОС** 
* Сколько дней нужно, чтобы проехать маршрут длиной m километров? 
* Программа получает на вход числа n и m.

In [ ]:
from math import ceil 

day_dist  = int(input())
full_road = int(input())
print('------------------------')

print('Car need to drive', ceil(full_road / day_dist))

700
2100
------------------------
Car need to drive 3

[Задача «Стоимость покупки»](https://pythontutor.ru/lessons/int_and_float/problems/purchase_price/)

**Условие**
* Пирожок в столовой стоит a рублей и b копеек. 
* Определите, сколько рублей и копеек нужно заплатить за n пирожков. 

* Программа получает на вход три числа: a, b, n, 
* и должна вывести два числа: стоимость покупки в рублях и копейках.

In [ ]:
print('Enter Price in Rub:')
r = int(input())                    # Пирожок в столовой стоит r(a) рублей
print('Enter Price in kops:')
k = int(input())                    # ... и k(b) копеек.
print('Enter number of Pie:')
pn = int(input())                   # Кол-во Пирожоков
print('------------------------------------------------------')
Price_rub = pn*r + pn*k // 100
Price_kop = pn*k % 100
print('Total Price od Pies:', Price_rub, 'Rubs,', Price_kop, 'kops')
print('------------------------------------------------------')

Enter Price in Rub:
2029
Enter Price in kops:
34
Enter number of Pie:
1848
------------------------------------------------------
Total Price od Pies: 3750220 Rubs, 32 kops
------------------------------------------------------

# Занятие 4. Цикл for
* Цикл for, также называемый циклом с параметром, в языке Питон богат возможностями. 
* В цикле for указывается переменная и множество значений, по которому будет пробегать переменная. 
* Множество значений может быть задано списком, кортежем, строкой или диапазоном.

In [ ]:
# Вот простейший пример использования цикла, где в качестве множества значений используется кортеж:
i = 1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
  print('#', i, ' color of rainbow is ', color, sep = '')   # sep – это разделитель, используемый при печати несколькими значениями. По умолчанию используется пробел ( sep=' ' )
  i += 1                                                    # Инструкция i += 1 эквивалентна конструкции i = i + 1 (это просто сокращенная запись). 
                                                            # Такую сокращенную запись можно использовать для всех арифметических операций: *=, -=, /=, %=...

#1 color of rainbow is red
#2 color of rainbow is orange
#3 color of rainbow is yellow
#4 color of rainbow is green
#5 color of rainbow is cyan
#6 color of rainbow is blue
#7 color of rainbow is violet

In [ ]:
for i in 1, 2, 3, 'one', 'two', 'three':
  print(i)                                    # При первых трех итерациях цикла переменная i будет принимать значение типа int, при последующих трех — типа str

1
2
3
one
two
three

### **2. Функция range**
* Как правило, циклы for используются либо для повторения какой-либо последовательности действий заданное число раз, либо для изменения значения переменной в цикле от некоторого начального значения до некоторого конечного.

Для повторения цикла некоторое заданное число раз n можно использовать цикл for вместе с функцией range:

In [ ]:
print('------------------------------------------------------')
for i in range(7):    # равносильно инструкции for i in 0, 1, 2, 3:
  # здесь можно выполнять циклические действия
  print('Loop index=', i, ', i**2=', i ** 2, sep = ''  )
# цикл закончился, поскольку закончился блок с отступом
print('------------------------------------------------------')
print('End loop...')

------------------------------------------------------
Loop index=0, i**2=0
Loop index=1, i**2=1
Loop index=2, i**2=4
Loop index=3, i**2=9
Loop index=4, i**2=16
Loop index=5, i**2=25
Loop index=6, i**2=36
------------------------------------------------------
End loop...

In [ ]:
sum = 0
n   = 5
for i in range(1, n + 1):           # Вызов range(a, b) означает, что индексная переменная будеть принимать значения от a до b - 1
  print(i)
  sum += i
print('------------------------------------------------------')
print(sum)

1
2
3
4
5
------------------------------------------------------
15

'''
'''

In [ ]:
'''
В этом примере переменная i принимает значения 1, 2, ..., n, и значение переменной sum последовательно увеличивается на указанные значения.

Наконец, чтобы организовать цикл, в котором индексная переменная будет уменьшаться, необходимо использовать функцию range с тремя параметрами. 
   Первый параметр задает начальное значение индексной переменной, 
   второй параметр — значение, до которого будет изменяться индексная переменная (не включая его!), а 
   третий параметр — величину изменения индексной переменной. Например, сделать цикл по всем нечетным числам от 1 до 99 можно при помощи функции range(1, 100, 2), а сделать цикл по всем числам от 100 до 1 можно при помощи range(100, 0, -1).

Более формально, цикл for i in range(a, b, d) при d > 0 задает значения индексной переменной i = a, i = a + d, i = a + 2 * d и так для всех значений, для которых i < b. Если же d < 0, то переменная цикла принимает все значения i > b
'''

for i in range(1, 100, 2):
  print(i)
print('End loop --------------------')

for i in range(100, 1, -1):
  print(i)
print('End loop --------------------')

### **3. Настройка функции print()**
* По умолчанию функция print() принимает несколько аргументов, выводит их через пробел, после чего ставит перевод строки. 
* Это поведение можно изменить, используя именованные параметры sep (разделитель) и end (окончание).

In [ ]:
print(1, 2, 3)
print(4, 5, 6)
print(1, 2, 3, sep=', ', end='. ')
print(4, 5, 6, sep=', ', end='. ')
print()
print(1, 2, 3, sep='', end=' -- ')
print(4, 5, 6, sep=' * ', end='.')
print()
# ----------------------------------------
print('Enter number: ', sep = '', end = '')
x = int(input())

1 2 3
4 5 6
1, 2, 3. 4, 5, 6.
123 -- 4 * 5 * 6.
Enter number: 44

## Задачи

In [ ]:
# Условие: Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A до B включительно.
a = int(input())
b = int(input())
print('------------------------------------')
for i in range(a,b+1):
  print(i)
print('------------------------------------')

20
20
------------------------------------
20
------------------------------------

### [Задача «Ряд - 2»](https://pythontutor.ru/lessons/for_loop/problems/series_2/)

**Условие**
* Даны два целых числа A и В. 
* Выведите все числа от A до B включительно, 
* в порядке возрастания, если A < B, 
* или в порядке убывания в противном случае.

In [ ]:
print('------------------------------------')
print('Enter a: ', sep = '', end = '')
a = int(input())
print('Enter b: ', sep = '', end = '')
b = int(input())
print('------------------------------------')
if a < b:
  d = 1
  b += 1
  print('a < b - range(a = ',a,', b = ',b,', d = ', d,')', sep = '')
else:
  d = -1
  b -= 1
  print('a > b - range(a = ',a,', b = ',b,', d = ', d,')', sep = '')
print('------------------------------------')
for i in range(a, b, d):
  print(i)
print('------------------------------------')

------------------------------------
Enter a: -3
Enter b: -7
------------------------------------
a > b - range(a = -3, b = -8, d = -1)
------------------------------------
-3
-4
-5
-6
-7
------------------------------------

### [Задача «Ряд - 3»](https://pythontutor.ru/lessons/for_loop/problems/series_3/)**

**Условие**
* Даны два целых числа A и В, A>B. 
* Выведите все нечётные числа от A до B включительно, в порядке убывания. 
* !!! - В этой задаче можно обойтись без инструкции if.

In [ ]:
a = -18   # int(input())
b = -29   # int(input())
near_less_odd = a - 1 + (a % 2)   # ближайшее меньшее нечетное
d = -2
print('------------------------------------')
print('A = ', a ,', near_less_odd = ',near_less_odd, sep = '')
print('B = ',b, sep = '')
print('A > B: range(a = ',near_less_odd,', b = ',b-1,', d = ', d,')', sep = '')
print('------------------------------------')

for i in range(near_less_odd, b-1, d):
  # print(i, i // 2, i % 2)
  print(i)

------------------------------------
A = -18, near_less_odd = -19
B = -29
A > B: range(a = -19, b = -30, d = -2)
------------------------------------
-19
-21
-23
-25
-27
-29

### [**Задача «Сумма десяти чисел»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_ten_numbers/)

**Условие**
* Дано 10 целых чисел. Вычислите их сумму. 
* Напишите программу, использующую наименьшее число переменных.

In [ ]:
vsum = 0  # init val of sum var
lcnt = 0  # init val of loop cnt 
#for vint in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9):
#for vint in (1, 1, 1, 1, 1, 1, 1, 1, 1, 1):
for vint in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
  vsum += vint
  lcnt += 1
print('Summ of ',lcnt,'\'s vars = ',vsum, sep = '')

Summ of 11's vars = 55

### [**Задача «Сумма N чисел»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_n_numbers/)
**Условие**
* Дано несколько чисел.  Вычислите их сумму. 
* Сначала вводите количество чисел N, 
* затем вводится ровно N целых чисел. 

* Какое наименьшее число переменных нужно для решения этой задачи?

In [ ]:
num_vars  = 0   # number of vars
tot_sum   = 0   # total sum of vars
cur_var   = 0   # current var
print('----------------------------------------')
print('Input Number of Vars: ', sep = '', end = '')
num_vars = int(input())
print()
print('----------------------------------------')
for i in range(1, num_vars+1, 1):
  print('Input value of var[',i,']: ',sep = '', end = '')
  cur_var = int(input())
  tot_sum += cur_var
print('----------------------------------------')
print('Summ of ',num_vars,'\'s vars euals = ',tot_sum, sep = '')

----------------------------------------
Input Number of Vars: 10

----------------------------------------
Input value of var[1]: -1
Input value of var[2]: -2
Input value of var[3]: -3
Input value of var[4]: -4
Input value of var[5]: -5
Input value of var[6]: -6
Input value of var[7]: -7
Input value of var[8]: -9
Input value of var[9]: -8
Input value of var[10]: 0
----------------------------------------
Summ of 10's vars euals = -45

### [**Задача «Сумма кубов»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_cubes/)

**Условие**
* По данному натуральному n вычислите сумму: $1^3 + 2^3 + ... + n^3$

In [ ]:
print('Input a lenghthr of list range: ', sep = '', end = '')
lv = int(input())
# print()
sq = 0 # init val of summ of cubes
print('----------------------------------------')
for i in range(1, lv +1, 1):
  sq += i*i*i
  print(i, '^3 = ', i*i*i, '; Summ of ',i,' cubes = ', sq, sep = '') 
print('----------------------------------------')
print('Summ of all cubes = ', sq, sep = '')

Input a lenghthr of list range: 3
----------------------------------------
1^3 = 1; Summ of 1 cubes = 1
2^3 = 8; Summ of 2 cubes = 9
3^3 = 27; Summ of 3 cubes = 36
----------------------------------------
Summ of all cubes = 36

### [Задача «Факториал»](https://pythontutor.ru/lessons/for_loop/problems/factorial)

**Условие**
* Факториалом числа n называется произведение 1 × 2 × ... × n. Обозначение: n!.
* По данному натуральному n вычислите значение n!. 
* ***Пользоваться математической библиотекой math в этой задаче запрещено.***

In [ ]:
f_range  = 0 # Factorial!
f_val    = 1 # init val of factorial
print('To calc Factorial(N!) Input N: ', sep = '', end = '')
f_range = int(input())
print('----------------------------------------')
for i in range(1, f_range + 1, 1):
  f_val *= i
print('Factorial (',f_range,'!) = ', f_val, sep = '')

To calc Factorial(N!) Input N: 4
----------------------------------------
Factorial (4!) = 24

### [**Задача «Сумма факториалов»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_factorials/)

**Условие**
* По данному натуральном n вычислите сумму 1!+2!+3!+...+n!. 
* В решении этой задачи можно использовать только один цикл. 
* **Пользоваться математической библиотекой math в этой задаче запрещено.**

In [ ]:
n          = 0    # range of function
cur_fct    = 1    # current factorial
sum_fct    = 0    # summ of factorialc

print('*******  Calculation summ of factorials: 1!+2!+3!+...+n!  *******', sep = '')
print('Input n: ', sep = '', end = '')
n = int(input())
print('----------------------------------------')

for i in range(1, n + 1, 1):
  cur_fct  *= i
  sum_fct  += cur_fct
  print('Factorial of ',i,'! = ', cur_fct, '; Summ of ',i,' factorials = ', sum_fct, sep = '')

print('Summ of ',i,' factorials = ', sum_fct, sep = '')

*******  Calculation summ of factorials: 1!+2!+3!+...+n!  *******
Input n: 4
----------------------------------------
Factorial of 1! = 1; Summ of 1 factorials = 1
Factorial of 2! = 2; Summ of 2 factorials = 3
Factorial of 3! = 6; Summ of 3 factorials = 9
Factorial of 4! = 24; Summ of 4 factorials = 33
Summ of 4 factorials = 33

### [Задача «Количество нулей»](https://pythontutor.ru/lessons/for_loop/problems/how_many_zeroes/)

**Условие**
* Дано N чисел: 
* сначала вводится число N, 
* затем вводится ровно N целых чисел. 

Подсчитайте количество нулей среди введенных чисел и выведите это количество. Вам нужно подсчитать количество чисел, равных нулю, а не количество цифр.

In [ ]:
print('Enter number of N\'s: ', sep = '', end = '')

n = int(input())
sumz = 0
print('----------------------------------------')

for i in range(1, n + 1, 1):
  print('Input [',i,'] number: ',sep = '', end = '')
  x = int(input())
  if x == 0:
    sumz += 1
print('----------------------------------------')
print('Number of Zero\'s are: ', sumz, sep = '')

Enter number of N's: 10
----------------------------------------
Input [1] number: 0
Input [2] number: 4
Input [3] number: 1
Input [4] number: -7
Input [5] number: 0
Input [6] number: 4
Input [7] number: 5
Input [8] number: 1
Input [9] number: 0
Input [10] number: 0
----------------------------------------
Number of Zero's are: 4

### [Задача «Лесенка»](https://pythontutor.ru/lessons/for_loop/problems/ladder/)

**Условие**
* По данному натуральному n ≤ 9 выведите лесенку из n ступенек, 
* i-я ступенька состоит из чисел от 1 до i без пробелов.

In [ ]:
print('Enter number of steps :',sep = '', end = '')
n = int(input())
print('----------------------------------------')

for i in range(1, n + 1, 1):
  for j in range(1, i + 1, 1):
    print(j, sep = '', end = '')
  print()

Enter number of steps :7
----------------------------------------
1
12
123
1234
12345
123456
1234567

### [Задача «Потерянная карточка»](https://pythontutor.ru/lessons/for_loop/problems/lost_card/)

**Условие**
* Для настольной игры используются карточки с номерами от 1 до N. 
* Одна карточка потерялась. 
* Найдите ее, зная номера оставшихся карточек.
* Дано число N, далее N − 1 номер оставшихся карточек (различные числа от 1 до N). 
* Программа должна вывести номер потерянной карточки.

Для самых умных: массивами и аналогичными структурами данных пользоваться нельзя.

In [ ]:
print('Input Number of cards (1..N): ', sep = '', end = '')
n            = int(input())
missing_card = 0            
print('----------------------------------------')

for i in range(1, n+1, 1):
  missing_card     += i     # summ o all cards in range

print('Sum of [',n,'] cards equals =',missing_card, sep = '')

for i in range(1, n, 1):
  print('Input number of Card that present in the range (1..',n,'): ', sep = '', end = '')
  missing_card -= int(input())
  
print('----------------------------------------')
print('Mmissing card is -',missing_card)

Input Number of cards (1..N): 3
----------------------------------------
Sum of [3] cards equals =6
Input number of Card that present in the range (1..3): 3
Input number of Card that present in the range (1..3): 1
----------------------------------------
Mmissing card is - 2

# [**Занятие 5. Строки**](https://pythontutor.ru/lessons/str/)

## **1. Строки**

Строка считывается со стандартного ввода функцией **input()**. Напомним, что для двух строк определена операция сложения (конкатенации), также определена операция умножения строки на число.

Строка состоит из последовательности символов. Узнать количество символов (длину строки) можно при помощи функции **len**.

Любой другой объект в Питоне можно перевести к строке, которая ему соответствует. Для этого нужно вызвать функцию **str()**, передав ей в качестве параметра объект, переводимый в строку.

* На самом деле каждая строка, с точки зрения Питона, — это объект класса str. * Чтобы получить по объекту другой объект другого класса, как-то ему соответствующий, можно использовать функцию приведения. 
* Имя этой функции совпадает с именем класса, к которому мы приводим объект. (Для знатоков: эта функция — это конструктор объектов данного класса.) 
* **Пример**: int — класс для целых чисел. Перевод строки в число осуществляется функцией int().

In [ ]:
s = input()
print('Length of string \"',s,'\" is ',len(s), sep = '')

t = input()
number = int(t)

u = str(number)

print(s * 3)
print(s + ' ' + u)

qaz
Length of string "qaz" is 3
57
qazqazqaz
qaz 57

## **2. Срезы (slices)**
Срез (slice) — извлечение из данной строки одного символа или некоторого фрагмента подстроки или подпоследовательности.

Есть три формы срезов. 
* Самая простая форма среза: взятие одного символа строки, а именно, S[i] — это срез, состоящий из одного символа, который имеет номер i. При этом считается, что нумерация начинается с числа 0. То есть если S = 'Hello', то S[0] == 'H', S[1] == 'e', S[2] == 'l', S[3] == 'l', S[4] == 'o'.

Заметим, что в Питоне нет отдельного типа для символов строки. Каждый объект, который получается в результате среза S[i] — это тоже строка типа str.
Номера символов в строке (а также в других структурах данных: списках, кортежах) называются индексом.

* Если указать отрицательное значение индекса, то номер будет отсчитываться с конца, начиная с номера -1. То есть S[-1] == 'o', S[-2] == 'l', S[-3] == 'l', S[-4] == 'e', S[-5] == 'H'.

**Или в виде таблицы:**

Строка S	|H	 |e	|l	|l	|o
----------|----|--|--|--|--
Индекс	  |S[0]	|S[1]	|S[2]	|S[3]	|S[4] 
Индекс	  |S[-5]	|S[-4]	|S[-3]	|S[-2]	|S[-1]

Если же номер символа в срезе строки S больше либо равен len(S), или меньше, чем -len(S), то при обращении к этому символу строки произойдет ошибка IndexError: string index out of range.

* **Срез с двумя параметрами:** S[a:b] возвращает подстроку из b - a символов, начиная с символа c индексом a, то есть до символа с индексом b, не включая его. Например, S[1:4] == 'ell', то же самое получится если написать S[-4:-1]. Можно использовать как положительные, так и отрицательные индексы в одном срезе, например, S[1:-1] — это строка без первого и последнего символа (срез начинается с символа с индексом 1 и заканчиватеся индексом -1, не включая его).

При использовании такой формы среза ошибки IndexError никогда не возникает. Например, срез S[1:5] вернет строку 'ello', таким же будет результат, если сделать второй индекс очень большим, например, S[1:100] (если в строке не более 100 символов).

Если опустить второй параметр (но поставить двоеточие), то срез берется до конца строки. Например, чтобы удалить из строки первый символ (его индекс равен 0), можно взять срез S[1:]. Аналогично если опустить первый параметр, то можно взять срез от начала строки. То есть удалить из строки последний символ можно при помощи среза S[:-1]. Срез S[:] совпадает с самой строкой S.

Любые операции среза со строкой создают новые строки и никогда не меняют исходную строку. В Питоне строки вообще являются неизменяемыми, их невозможно изменить. Можно лишь в старую переменную присвоить новую строку.

На самом деле в питоне нет и переменных. Есть лишь имена, которые связаны с какими-нибудь объектами. Можно сначала связать имя с одним объектом, а потом — с другим. Можно несколько имён связать с одним и тем же объектом.

Если задать срез с тремя параметрами S[a:b:d], то третий параметр задает шаг, как в случае с функцией range, то есть будут взяты символы с индексами a, a + d, a + 2 * d и т. д. При задании значения третьего параметра, равному 2, в срез попадет кажый второй символ, а если взять значение среза, равное -1, то символы будут идти в обратном порядке. Например, можно перевернуть строку срезом S[::-1].

In [ ]:
s = 'AbcdefG'

print(s[1])
print(s[-1])
print(s[1:3])
print(s[1:-1])
print(s[:3])
print(s[2:])
print(s[:-1])

print(s[::2])
print(s[::-1])

print(s[1::2])

b
G
bc
bcdef
Abc
cdefG
Abcdef
AceG
GfedcbA
bdf

In [ ]:
# Обратите внимание на то, как похож третий параметр среза на третий параметр функции range():

s = 'AbCdEfGhIjKlM'

print(s[0:10:2])

for i in range(0, 10 , 2):
  print(i, s[i])

ACEGI
0 A
2 C
4 E
6 G
8 I

## **3. Методы**
* Метод — это функция, применяемая к объекту, в данном случае — к строке. 
* Метод вызывается в виде Имя_объекта.Имя_метода(параметры). 
* Например, S.find("e") — это применение к строке S метода find с одним параметром "e".

### **3.1. Методы find и rfind**

* Метод find находит в данной строке (к которой применяется метод) данную подстроку (которая передается в качестве параметра). 
* Функция возвращает индекс первого вхождения искомой подстроки. 
* Если же подстрока не найдена, то метод возвращает значение -1.

In [ ]:
s = 'Hello'

print(s.find('e'))    # return 1

print(s.find('l'))   # return 2
print(s.find('L'))    # return -1

# метод rfind возвращает индекс последнего вхождения данной строки (“поиск справа”).
print(s.rfind('l'))   # return 3

'''
Если вызвать метод find с тремя параметрами S.find(T, a, b), то поиск будет осуществляться в срезе S[a:b]. 
Если указать только два параметра S.find(T, a), то поиск будет осуществляться в срезе S[a:], то есть начиная с символа с индексом a и до конца строки. 
Метод S.find(T, a, b) возращает индекс в строке S, а не индекс относительно среза.
'''

1
2
-1
3

### 3.2. Метод replace

* Метод replace заменяет все вхождения одной строки на другую. 
* Формат: S.replace(old, new) — заменить в строке S все вхождения подстроки old на подстроку new.

In [ ]:
s = 'Hello'

print(s.replace('l','L'))

# Если методу replace задать еще один параметр: S.replace(old, new, count), 
# то заменены будут не все вхождения, а только не больше, чем первые count из них.

print(s.replace('l','L',1))

print('Abrakadabra'.replace('a', 'A', 1))
# вернёт 'AbrAkAdabra'

HeLLo
HeLlo
AbrAkadabra

### 3.3. Метод count
```python
* Подсчитывает количество вхождений одной строки в другую строку. 
* Простейшая форма вызова S.count(T)  возвращает число вхождений строки T внутри строки S. 
* При этом подсчитываются только непересекающиеся вхождения print(('a' * 10).count('aa'))
```

In [ ]:
print('Abrakadabra'.count('a'))

print(('a' * 10))
print(('a' * 10).count('aa'))

4
aaaaaaaaaa
5

## **Задачи**

### [Задача «Делаем срезы»](https://pythontutor.ru/lessons/str/problems/slices/)

**Условие**
* Дана строка.
* Сначала выведите третий символ этой строки.
* Во второй строке выведите предпоследний символ этой строки.
* В третьей строке выведите первые пять символов этой строки.
* В четвертой строке выведите всю строку, кроме последних двух символов.
* В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).

* В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.

* В седьмой строке выведите все символы в обратном порядке.

* В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.

* В девятой строке выведите длину данной строки.

In [ ]:
s = 'Abrakadabra'

print(s[3])       # Сначала выведите третий символ этой строки.
print(s[-2])      # Во второй строке выведите предпоследний символ этой строки.
print(s[:5])      # В третьей строке выведите первые пять символов этой строки.
print(s[:-2])     # В четвертой строке выведите всю строку, кроме последних двух символов.

print(s[::2])     # В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).
print(s[1::2])     # В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.
print(s[::-1])      # В седьмой строке выведите все символы в обратном порядке.
print(s[::-2])      # В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.
print(len(s))      # В девятой строке выведите длину данной строки.

a
r
Abrak
Abrakadab
Arkdba
baaar
arbadakarbA
abdkrA
11

### [Задача «Количество слов»](https://pythontutor.ru/lessons/str/problems/num_words/)

**Условие**
* Дана строка, состоящая из слов, разделенных пробелами. 
* Определите, сколько в ней слов. Используйте для решения задачи метод count.

In [ ]:
s = 'Hello World'
s = 'One two three four five'

print('In string "',s ,'" are - ',s.count(' ')+1, ' words', sep = '')

In string "One two three four five" are - 5 words

### [Задача «Две половинки»](https://pythontutor.ru/lessons/str/problems/two_halves/)

**Условие**
* Дана строка. 
* Разрежьте ее на две равные части (если длина строки — четная, а если длина строки нечетная, то длина первой части должна быть на один символ больше). 
* Переставьте эти две части местами, результат запишите в новую строку и выведите на экран.

**При решении этой задачи не стоит пользоваться инструкцией if.**

In [ ]:
s     = '123456789'
s     = 'Hi'
s     = 'asdfghj'
posm  = int(len(s) // 2 + len(s) % 2)   # если длина строки четная = половине строки
                                        # если длина строки нечетная, то длина первой части должна быть на один символ больше
'''
print(posm)
print(len(s), len(s) // 2, len(s) % 2, s)
print(s[:posm] )
print(s[posm:])
'''

print(s[posm:] + s[:posm])

ghjasdf

### [Задача «Переставить два слова»](https://pythontutor.ru/lessons/str/problems/swap_two_words/)

**Условие**
* Дана строка, состоящая ровно из двух слов, разделенных пробелом.
* Переставьте эти слова местами. 
* Результат запишите в строку и выведите получившуюся строку.

**При решении этой задачи не стоит пользоваться циклами и инструкцией if.**

In [ ]:
s = 'Q WERRTYUIOP'
s = 'sadfahsjkldfhasjkdfhaklsjdfhjkl asdlkfhasdjklfhaslkdfjhalskdfgalsdf'

'''
print(s.find(' '))

print(s[:s.find(' ')])
print(s[s.find(' ')+1:])
''' 

print(s[s.find(' ')+1:] +' '+ s[:s.find(' ')])

asdlkfhasdjklfhaslkdfjhalskdfgalsdf sadfahsjkldfhasjkdfhaklsjdfhjkl

### [Задача «Первое и последнее вхождения» и ДАЛЕЕ](https://pythontutor.ru/lessons/str/problems/first_and_last_occurences/)

**Условие**
* Дана строка. Если в этой строке буква f встречается только один раз, выведите её индекс. 
* Если она встречается два и более раз, выведите индекс её первого и последнего появления. 
* Если буква f в данной строке не встречается, ничего не выводите.

**При решении этой задачи не стоит использовать циклы.**

In [ ]:
s = 'afafafafafafafa'

# print(s.find('f'))

vfirst = s.find('f')  
vlast  = s.rfind('f') 

# print(vfirst, vlast)

if vlast > vfirst:
  print('First position of ''f'' = ', vfirst, ', Last position of ''f'' = ', vlast)
else:
  if vlast > 0:
     print('Position of ''f'' = ', vfirst)

First position of f =  1 , Last position of f =  13

In [ ]:
'''*****************************************************************************
Задача «Второе вхождение»
Условие
Дана строка. 
Найдите в этой строке второе вхождение буквы f, и выведите индекс этого вхождения. 
  Если буква f в данной строке встречается только один раз, выведите число -1, а 
  если не встречается ни разу, выведите число -2.
*****************************************************************************'''
s    = 'ofofofofofofofofo'

cntf  = s.count('f')   # count(f)
posff = s.find('f')    # position of first f

'''
print(cntf)
print(posff)
print(s[posff + 1:])
print(s.find('f',posff + 1))
'''
if cntf > 1:
  print(s.find('f',posff + 1))   # Метод S.find(T, a, b) возращает индекс в строке S, а не индекс относительно среза
else:
  print(cntf - 2)                # Если f встречается 1 раз то вывод = -1 
                                 # Если f встречается 0 раз то вывод = -2

3

In [ ]:
'''*****************************************************************************
Задача «Удаление фрагмента»
Условие
* Дана строка, в которой буква h встречается минимум два раза. 
* Удалите из этой строки первое и последнее вхождение буквы h, а
  также все символы, находящиеся между ними.
*****************************************************************************'''

# s = 'qwertyhasdfghzxcvb'
s = 'In the hole in the ground there lived a hobbit'

fh = s.find('h')
lh = s.rfind('h')

print(fh, lh)

print(s[:fh] + s[lh + 1:])

4 40
In tobbit

In [ ]:
'''*****************************************************************************
Задача «Обращение фрагмента»
Условие
* Дана строка, в которой буква h встречается как минимум два раза. 

* Разверните последовательность символов, 
  заключенную между первым и последним появлением буквы h, 
  в противоположном порядке.
*****************************************************************************'''

s = 'In the hole in the ground there lived a hobbit'
# s = 'habh'
s = 'habcdefgijklmnh'

fh = s.find('h')      # first h
lh = s.rfind('h')     # last  h

s2 = s[fh+1 : lh]     # substring between first and last 'h'

print(s2)
print(fh, lh )

s3 = s2[::-1] # inverted substring between first and last 'h'

print(s[:fh+1] + s3 + s[lh:])

abcdefgijklmn
0 14
hnmlkjigfedcbah

In [ ]:
'''*****************************************************************************
Занятие 5. Строки
Задача «Замена подстроки»

Условие
 * Дана строка. 
 * Замените в этой строке все цифры 1 на слово one.
*****************************************************************************'''

s = '1+1=2'
s = 'Hello, 2345678990'
s = '1'

print(s.replace('1','one'))

one

In [ ]:
'''*****************************************************************************
Занятие 5. Строки
Задача «Удаление символа»

Условие
* Дана строка. Удалите из этой строки все символы @.
*****************************************************************************'''

s = 'dfa;sdkfj;ajva;bvna\'sdasdfasdglJLHJKFHLDKJFh'
s = '@W@E@E@E@R'
s = 'H@K@M@J@M@L'

print(s.replace('@',''))

HKMJML

In [ ]:
'''*****************************************************************************
Задача «Замена внутри фрагмента»
Условие

* Дана строка. Замените в этой строке все появления буквы h на букву H, 
  кроме первого и последнего вхождения.
*****************************************************************************'''

s = 'qwertyhahsdhfghzxcvb'

fh = s.find('h')
lh = s.rfind('h')

s1 = s[fh+1:lh]      # substr from fh to lh

# print(fh , lh, s1)

print(s[:fh + 1] + s1.replace('h','H') + s[lh:])

qwertyhaHsdHfghzxcvb

### [Задача «Удалить каждый третий символ»](https://pythontutor.ru/lessons/str/problems/delete_every_third_char/)

**Условие**
* Дана строка. 
* Удалите из нее все символы, чьи индексы делятся на 3.

In [ ]:
s = 'qwer'
s1 = ''
for i in range(0, len(s), 1):
  if i % 3 != 0:
    s1 += s[i]
    # print(i, s[i], i % 3, s1)
print(s1)

1 w 1 w
2 e 2 we
we

# [**Занятие 6. Цикл while**](https://pythontutor.ru/lessons/while/)

* Цикл while (“пока”) позволяет выполнить одну и ту же последовательность действий, пока проверяемое условие истинно. 
* Условие записывается до тела цикла и проверяется до выполнения тела цикла.
* Как правило, цикл while используется, когда невозможно определить точное значение количества проходов исполнения цикла.

Синтаксис цикла while в простейшем случае выглядит так:
```python
while условие:
    блок инструкций
```

In [ ]:
i = 1

while i <= 10:
  print('step ', i,', ', i,'^2 = ', i ** 2, sep = '')
  i += 1

step 1, 1^2 = 1
step 2, 2^2 = 4
step 3, 3^2 = 9
step 4, 4^2 = 16
step 5, 5^2 = 25
step 6, 6^2 = 36
step 7, 7^2 = 49
step 8, 8^2 = 64
step 9, 9^2 = 81
step 10, 10^2 = 100

In [ ]:
# Вот еще один пример использования цикла while 
# для определения количества цифр натурального числа n:

n = int(input())
length = 0

while n > 0:
  n //= 10     # это эквивалентно n = n // 10
  length += 1
  print(n, length)
print('-----------------------------')
print(length)

189
18 1
1 2
0 3
-----------------------------
3

## **2. Инструкции управления циклом**

После тела цикла можно написать слово else: и после него блок операций, который будет выполнен один раз после окончания цикла, когда проверяемое условие станет неверно:

In [ ]:
i = 1

while i <= 10:
  print(i)
  i += 1
else:
  print('Loop finished, i =',i)

1
2
3
4
5
6
7
8
9
10
Loop finished, i = 11

In [ ]:
'''
 Если во время выполнения Питон встречает инструкцию break внутри цикла, 
 то он сразу же прекращает выполнение этого цикла и выходит из него. 
 При этом ветка else исполняться не будет. 
 
 Разумеется, инструкцию break осмыленно вызывать только внутри инструкции if, 
 то есть она должна выполняться только при выполнении какого-то особенного условия.
 '''

a = int(input())

while a != 0:
  if a < 0:
    print('The loop was interrupted brcause has been entered the negative number:', a)
    break
  a = int(input())
else:
  print('Not a single negative number has been inputted')

-7
The loop was interrupted brcause has been entered the negative number: -7

In [ ]:
n = int(input())

for i in range(n):
  a = int(input())
  if a < 0:
    print('Negative number has been entered', a)
    break
else:
  print('Ни одного отрицательного числа не встретилось')

3
-1
Negative number has been entered -1

In [ ]:
'''
Другая инструкция управления циклом — continue (продолжение цикла). 
Если эта инструкция встречается где-то посередине цикла, то пропускаются все оставшиеся инструкции до конца цикла, 
и исполнение цикла продолжается со следующей итерации.

Если инструкции break и continue содержатся внутри нескольких вложенных циклов, 
то они влияют лишь на исполнение самого внутреннего цикла. 
Вот не самый интеллектуальный пример, который это демонстрирует:
'''
cnt = 0

for i in range(3):

  for j in range(5):
    cnt += 1
#    print('i = ', i, ', j = ', j, ', mvg cnt = ', cnt, sep = '')

    if j > i:
      print('Break loop on cond j > i;','    i = ', i, ', j = ', j, ', mv_cnt = ', cnt, sep = '')
      break
    print('i = ', i, ', j = ', j, ', mv_cnt = ', cnt, sep = '')

print('--------------------------')
print('Total', cnt)

i = 2, j = 3, mv_cnt = 9
--------------------------
Total 9

**Увлечение инструкциями break и continue не поощряется**, если можно обойтись без их использования. 
Вот типичный **пример плохого использования** инструкции break (данный код считает количество знаков в числе).

In [ ]:
n = int(input())

len = 0

while True:
   len +=  1
   n //= 10 
   print(len, n)
   
   if n == 0:
     break
print('length of number =', len)

33
1 3
2 0
length of number = 2

In [ ]:
n = int(input())
len = 0

while n != 0:
  len += 1
  n //= 10
  # print(len, n)
print('length of number are ', len, 'digits')

8787365823768762873548736542893765238562837562837562356293745623897456923847562938756
length of number are  85 digits

In [ ]:
# Впрочем, на Питоне можно предложить и более изящное решение:

n = int(input())
print('Длина числа равна', len(str(n)))

567

TypeError: ignored

## **3. Множественное присваивание**

В Питоне можно за одну инструкцию присваивания изменять значение сразу нескольких переменных. Делается это так:

In [ ]:
a, b = 0, 1    # множественное присваивание меняет значение двух переменных одновременно!!!

print(a, b)

a, b = b, a

print(a, b)

0 1
1 0

## **ЗАДАЧИ**

### [Задача «Список квадратов»](https://pythontutor.ru/lessons/while/problems/list_of_squares/)

**Условие**
* По данному целому числу N распечатайте все квадраты натуральных чисел, 
  не превосходящие N, в порядке возрастания.

In [ ]:
n = int(99)

# For loop realisation ------------------------------------
print('------------- For loop realisation ---------------')
n2 = 1
for i in range(1, n, 1):
  n2 = i ** 2
  if n2 > n:
    break
  print(i,'^2 = ', n2, sep = '')
print('--------------------------------------------------')
print('....')

# While loop realisation ------------------------------------
print('------------- While loop realisation ---------------')
n2 = 1
cnt = 1
while True:
  n2 = cnt ** 2
  if n2 > n:
    break
  print(cnt,'^2 = ', n2, sep = '')
  cnt += 1
print('--------------------------------------------------')

# While loop realisation ------------------------------------
print('------------- Optimal While loop realisation ---------')
cnt = 1
while cnt ** 2 < n:
  print(cnt,'^2 = ', cnt ** 2, sep = '')
  cnt += 1
print('--------------------------------------------------')

------------- For loop realisation ---------------
1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
--------------------------------------------------
....
------------- While loop realisation ---------------
1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
--------------------------------------------------
------------- OPtimal While loop realisation ---------
1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
--------------------------------------------------

### **Задача «Минимальный делитель»** и другие

In [ ]:
''' 
Условие
Дано целое число, не меньшее 2. 
Выведите его наименьший натуральный делитель, отличный от 1.
'''

n = int(15) # int(input())
mnd = 1

while mnd < n:
  mnd += 1 
  if n %  mnd == 0:
    print(mnd)
    break

3

In [ ]:
# more optimal decision !!!

n  = int(179)
i  = 2

while n % i:
  i += 1
print(i)

179

In [ ]:
'''
Задача «Степень двойки»
Условие
По данному натуральному числу N найдите наибольшую целую степень двойки, не превосходящую N. 
Выведите показатель степени и саму степень.

Операцией возведения в степень пользоваться нельзя!
'''

n   = int(input())
stp = 1

while 2 ** stp < n:
  # print(stp, 2 ** stp)
  stp += 1

print(stp-1, 2 ** (stp-1))

15431543
23 8388608

In [ ]:
'''
Задача «Утренняя пробежка»
Условие

* В первый день спортсмен пробежал x километров, 
* а затем он каждый день увеличивал пробег на 10% от предыдущего значения. 

По данному числу y определите номер дня, на который пробег спортсмена составит не менее y километров.

Программа получает на вход действительные числа x и y и должна вывести одно натуральное число.
'''

x, y = float(1), int(1000)

# print(x,y)
dn = int(1)

# print(x, y, dn)

while x <= y:
  x = x * 1.1
  dn += 1
  # print(x)
print(dn)

74

In [ ]:
'''
Задача «Длина последовательности»

Условие
* Программа получает на вход последовательность целых неотрицательных чисел, 
  каждое число записано в отдельной строке. 
* Последовательность завершается числом 0, 
  при считывании которого программа должна закончить свою работу 
  и вывести количество членов последовательности (не считая завершающего числа 0). 

* Числа, следующие за числом 0, считывать не нужно
'''

n = int(input())
cnt = 1

while n != 0:
  n = int(input())
  cnt += 1
print('Result =',cnt-1)

5
2
8
0
Result = 3

In [ ]:
'''
Задача «Сумма последовательности»
Условие

* Определите сумму всех элементов последовательности, завершающейся числом 0. 

!! В этой и во всех следующих задачах числа, следующие за первым нулем, учитывать не нужно.
'''

n = int(input())
sum = 0
while n != 0:
  sum += n
  # print(sum)
  n = int(input())

print('Result =', sum)

1
2
3
4
5
6
7
0
Result = 28

In [ ]:
'''
Задача «Среднее значение последовательности»

Условие
 1. Определите среднее значение всех элементов последовательности
 2. Определите значение наибольшего элемента последовательности.
 3. Определите индекс наибольшего элемента последовательности. 
    Если наибольших элементов несколько, выведите индекс первого из них. Нумерация элементов начинается с нуля
 4. Определите количество четных элементов в последовательности
 5. Определите, сколько элементов последовательности больше предыдущего элемента.
 6. Определите значение второго по величине элемента в этой последовательности. 
 7. сколько элементов этой последовательности равны ее наибольшему элементу.

!!! В этой и во всех следующих задачах числа, следующие за первым нулем, учитывать не нужно.
'''

n = int(input())

sec_inx      = 0    # number of elements in sequence
sec_sum      = 0    # сумму всех элементов последовательности, завершающейся числом 0
sec_avg      = 0    # среднее значение всех элементов последовательности
sec_max      = 0    # наибольший элемент последовательности.
sec_max_idx  = 0    # индекс наибольшего элемента последовательности
sec_odd_cnt  = 0    
sec_cnt_min  = 0  
sec_priv     = 0
prev_max     = 0   # значение второго по величине элемента в этой последовательности.
cnt_max      = 1



while n != 0:
  sec_inx   += 1      # Индекс текущего элемента последовательности.
  sec_sum   += n      # Сумма всех элементов последовательности.

  # 3. Определение индекса наибольшего элемента последовательности. 
  if n > sec_max:                # если появился ноывй максимум то:----------
    prev_max    = sec_max        # 6. сохраняем прошлый максимум
    sec_max     = n              # 2. Значение наибольшего элемента последовательности.
    sec_max_idx = sec_inx - 1    # 3. Индекс наибольшего элемента последовательности.
  else:
    if prev_max < n < sec_max:   # 6. если новый элемент между прошлым макс и новым макс это новый прошлый макс!!!!!
      prev_max = n
  # 3. -----------------------------------------------------------

  # 4. Определите количество четных элементов в последовательности
  sec_odd_cnt += n % 2  
  # print(sec_inx, sec_odd_cnt)
  # 4. ------------------------------------------------------------
    
  # 5. Определите, сколько элементов последовательности больше предыдущего элемента.
  if n > sec_priv:
    sec_priv = n
    sec_cnt_min += 1
  # 5. -----------------------------------------------------------------------------

  n = int(input())

  # 7. сколько элементов этой последовательности равны ее наибольшему элементу1
  # print(n, sec_max, prev_max, cnt_max)
  if sec_max == n:
    cnt_max +=1
  # 7. -----------------------------------------------------------------------------

print('Sequence: sec_index = ',sec_inx, ', sec_sum =',sec_sum)
print('----------------------------------------------------------')
print('1. Avg of sequence   =', sec_sum / sec_inx)
print('2. Max of sequence   =', sec_max)
print('3. Index of sec Max  =', sec_max_idx)
print('4. Count of even     =', sec_inx - sec_odd_cnt)
print('5. Count of min priv =', sec_cnt_min -1)
print('6. Prev max =', prev_max)
print('7. Cnt of max =', cnt_max)

5
4
3
2
1
5
0
Sequence: sec_index =  6 , sec_sum = 20
----------------------------------------------------------
1. Avg of sequence   = 3.3333333333333335
2. Max of sequence   = 5
3. Index of sec Max  = 0
4. Count of even     = 2
5. Count of min priv = 0
6. Prev max = 4
7. Cnt of max = 2

### [ЗадачИ про «Числа Фибоначчи»](https://pythontutor.ru/lessons/while/problems/kth_fibonacci/)

**Условие**
* Последовательность Фибоначчи определяется так:
  φ0 = 0,  φ1 = 1,  φn = φn−1 + φn−2.

* По данному числу n определите n-е число Фибоначчи φn.
* Эту задачу можно решать и циклом for.

In [ ]:
# числа Леонардо Пизанского (известного как Фибоначчи).
#  0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 

fnm1, fn = 0, 1

print('Input number for Fibonacci: ', end = '')
n = int(input())


# start calculate from 2nd step because of firsts 2 are constants
if n == 0:
  print('Fibonacci of φ[',n,'] = ',0, sep = '')
else:
  for i in range(2, n+1, 1):
    #print('in  step[', i,'] :', fn, fnm1, fnm2)

    fnm1, fn = fn, fnm1 + fn # подсмотрено тут http://pythoshka.ru/p206.html

    # мое решение --------- тоже работает
    #fnm2 = fnm1  
    #fnm1 = fn
    #fn   = fnm1 + fnm2

    print('Fibonacci of φ[',i,'] = ',fn, sep = '')
  print('--------------------------------------')
  print('Fibonacci of φ[',i,'] = ',fn, sep = '')

Input number for Fibonacci: 5
Fibonacci of φ[2] = 1
Fibonacci of φ[3] = 2
Fibonacci of φ[4] = 3
Fibonacci of φ[5] = 5
--------------------------------------
Fibonacci of φ[5] = 5

In [ ]:
'''
Задача «Номер числа Фибоначчи»

Условие
* Дано натуральное число A. 
* Определите, каким по счету числом Фибоначчи оно является, то есть выведите такое число n, что φn = A. 
* Если А не является числом Фибоначчи, выведите число -1.
'''

# числа Леонардо Пизанского (известного как Фибоначчи).
#  0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 

print('Enter n for Fibonacci:')
n = int(input())

if n == 0:
  print('Position of Fibonacci of φ[',n,'] = ', 1, sep = '')

else:
  fn, fnm1, fcnt = 1, 0, 1

  while fn < n:
    fnm1, fn = fn, fn + fnm1
    fcnt += 1
    # print(fn, fnm1, fcnt)
    #print('Position of Fibonacci - ',n,' is ',fcnt, sep = '')
    
    #if fcnt > 15:
    #  break
  
  if fn == n:
   print('Position of Fibonacci of φ[',n,'] = ', fcnt, sep = '')
  else:
    print('Position of Fibonacci of φ[',n,'] = ', -1, sep = '')

Enter n for Fibonacci:
9
Position of Fibonacci of φ[9] = -1

### Максимальное число идущих подряд равных элементов

In [ ]:
'''
Задача «Максимальное число идущих подряд равных элементов»

Условие
* Дана последовательность натуральных чисел, завершающаяся числом 0. 
* Определите, какое наибольшее число подряд идущих элементов этой последовательности равны друг другу.

'''
cur, prev, cnt, max, n = 0, 0, 1, 1, -1

while n != 0:
  print('Input n: ', sep = '', end = '')
  n = int(input())
  
  cur, prev = prev, n
  
  if cur == prev:
    cnt += 1
    #print('In_IF1: cnt =', cnt, 'max =', max)
  
    if max < cnt:
      max = cnt
      #print('In_IF2: cnt =', cnt, 'max =', max)
  else:
    cnt = 1
    #print('In_El1: cnt =', cnt, 'max =', max)
  
print('Максимальное число идущих подряд равных элементов =', max)

Input n: 1
In_El1: cnt = 1 max = 1
Input n: 2
In_El1: cnt = 1 max = 1
Input n: 2
In_IF1: cnt = 2 max = 1
In_IF2: cnt = 2 max = 2
Input n: 0
In_El1: cnt = 1 max = 2
Максимальное число идущих подряд равных элементов = 2

### Задача «Стандартное отклонение»

**Условие**
* Дана последовательность натуральных чисел x1, x2, ..., xn. 
* Стандартным отклонением называется величина
   $σ= \sqrt { \frac { (x_1−s)^2+(x_2−s)^2+…+(x_n−s)^2}  {n−1} } $
* где $s= \frac {x_1+x_2+…+x_n}{n} $ — среднее арифметическое последовательности.

* Определите стандартное отклонение для данной последовательности натуральных чисел, завершающейся числом 0.

In [ ]:
from math import sqrt

cnt, x_i = 1, 0
avg_x_i, sum_sq, sum_x_i = 0, 0, 0  # Avg(x_i), Sum(x_i), Sum(x_i^2)
StDiv    = 0

print('Enter sequence:')
print('x[',cnt,'] = ', sep = '', end = '')
x_i = int(input())
2

while x_i != 0:

  sum_x_i  += x_i        # Summ of x_i
  sum_sq   += x_i*x_i    # Summ of x_i^2
  cnt      += 1          # Count of x_i
 
  print('x[',cnt,'] = ', sep = '', end = '')
  x_i = int(input())

cnt      -= 1
avg_x_i = sum_x_i / cnt
print('For [',cnt,'] elements of sequence: Sum(x) = ',sum_x_i, ', Sum(x^2) = ', sum_sq, ', Avg(x) = ',avg_x_i,   sep = '')

# КАК НАЙТИ Сигму !
# 1. упрощаем выражение: x_1^2 + x_2^2 + cnt*avg_x_i^2 - 2*avg_x_i*(x_1 + x_2)
#     
# 2. StDiv = sqrt ( { Sum(x^2) + ( cnt*avg_x_i^2 ) + (2*avg_x_i * Sum(x) ) } / {cnt - 1} )
# Вуаля - считаем!!!

StDiv = sqrt ( (sum_sq + ( cnt * avg_x_i * avg_x_i ) - ( 2 * avg_x_i * sum_x_i) ) / (cnt - 1) )

print('StDiv = ', StDiv)

# Это было не совсем просто, но вышло!

Enter sequence:
x[1] = 3
x[2] = 9
x[3] = 5
x[4] = 2
x[5] = 0
For [4] elements of sequence: Sum(x) = 19, Sum(x^2) = 119, Avg(x) = 4.75
StDiv =  3.095695936834452

# [Занятие 7. Списки](https://pythontutor.ru/lessons/lists/)

* Для хранения таких данных можно использовать структуру данных, называемую в Питоне список (в большинстве же языков программирования используется другой термин “массив”). 
* Список представляет собой последовательность элементов, пронумерованных от 0, как символы в строке. 
* Список можно задать перечислением элементов списка в квадратных скобках, например, список можно задать так:

##  **1. Списки**

In [ ]:
# В списке Primes — 6 элементов, а именно: 
# Primes[0] == 2, Primes[1] == 3, Primes[2] == 5, Primes[3] == 7, Primes[4] == 11, Primes[5] == 13. 

# Список Rainbow состоит из 7 элементов, каждый из которых является строкой.

# Также как и символы в строке, элементы списка можно индексировать отрицательными числами с конца, 
# например, Primes[-1] == 13, Primes[-6] == 2.

Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

print('len(Primes) =',len(Primes), 'len(Rainbow) =',len(Rainbow))

print(Rainbow[0])
Rainbow[0] = 'Красный'
print(Rainbow[0])

for i in range(0, len(Rainbow), 1):
  print('Rainbow[',i+1,'] = ', Rainbow[i], sep = '')

len(Primes) = 6 len(Rainbow) = 7
Red
Красный
Rainbow[1] = Красный
Rainbow[2] = Orange
Rainbow[3] = Yellow
Rainbow[4] = Green
Rainbow[5] = Blue
Rainbow[6] = Indigo
Rainbow[7] = Violet

In [ ]:
'''
Рассмотрим несколько способов создания и считывания списков. 
Прежде всего, можно создать пустой список (не содержащий элементов, длины 0), 
а в конец списка можно добавлять элементы при помощи метода append. 

Например, пусть программа получает на вход количество элементов в списке n, а потом n элементов списка по одному в отдельной строке. 
Вот пример входных данных в таком формате:
'''

a = []            # empty list
print('Load range of list \'a\': ', sep = '', end = '')
n = int(input())  # load length of list

for i in range(n):
  print('Input: a[',i,'] = ', sep = '', end = '')
  a.append(int(input()))
  
  print('Length of list \'a\' = ', len(a), ', Consists of list \'a\' = ', a,  sep = '')

  # new_element = int(input())  # read a new element
  # a.append(new_element)       # load new element into list "a"
  # a.append(int(input()))
  # print('After  load: a[',i,'] = ',a[i], sep = '')
print('----------------------------------------------------------------------')
print('List \'a\' consists of : ',a, sep = '')

Load range of list 'a': 5
Input: a[0] = 234
Length of list 'a' = 1, Consists of list 'a' = [234]
Input: a[1] = 3
Length of list 'a' = 2, Consists of list 'a' = [234, 3]
Input: a[2] = 7
Length of list 'a' = 3, Consists of list 'a' = [234, 3, 7]
Input: a[3] = 8
Length of list 'a' = 4, Consists of list 'a' = [234, 3, 7, 8]
Input: a[4] = 00098
Length of list 'a' = 5, Consists of list 'a' = [234, 3, 7, 8, 98]
List 'a' consists of : [234, 3, 7, 8, 98]

In [ ]:
# То же самое можно записать, сэкономив переменную n:

a = []
for i in range(int(input())):
  a.append(int(input()))
print(a)

4
123
3456
7789
09
[123, 3456, 7789, 9]

In [ ]:
# Для списков целиком определены следующие операции: 
#  1) конкатенация списков (сложение списков, т. е. приписывание к одному списку другого) 
#  2) повторение списков   (умножение списка на число). 

# Например:

a = [1, 2, 3]
b = [4, 5]

print('list a:', a)
print('list b:', b)

print('--------------------------')
c = a + b
d = b * 3
print('c = a + b:', c)
print('d = b * 3:', d)

print('--------------------------')
print([7, 8] + [9])
print([0, 1] * 3)

print([0] * 3)

list a: [1, 2, 3]
list b: [4, 5]
--------------------------
c = a + b: [1, 2, 3, 4, 5]
d = b * 3: [4, 5, 4, 5, 4, 5]
--------------------------
[7, 8, 9]
[0, 1, 0, 1, 0, 1]
[0, 0, 0]

In [ ]:
#  Это позволяет по-другому организовать процесс считывания списков: 
#   1. сначала считать размер списка и создать список из нужного числа элементов, 
#   2. затем организовать цикл по переменной i начиная с числа 0 и внутри цикла считывается i-й элемент списка:

print('Enter range of list: ', end = '')
a = [0] * int(input())

print('len(a) = 4',len(a), ', list \'a\' =',a)

for i in range(len(a)):
  print('Load: a[',i,'] = ', sep = '', end = '')
  a[i] = int(input())

print('len(a) =',len(a), ', list \'a\' =',a)

Enter range of list: 5
len(a) =  5 , list 'a' = [0, 0, 0, 0, 0]
Load: a[0] = 23
Load: a[1] = 43
Load: a[2] = 5
Load: a[3] = 65
Load: a[4] = 76
len(a) = 5 , list 'a' = [23, 43, 5, 65, 76]

In [ ]:
# examples of print lists

# 1 - in a column
a = [1, 2, 3, 4, 5, 6, 7]

for elem in a:
  print(elem, sep = '', end = ' ')
  # print(a[i])

1 2 3 4 5 6 7

In [ ]:
######## !!!!!!!!!! Очень важная часть идеологии Питона - это цикл for !!!!!!!!!!!!!! ##############
'''
Обратите особое внимание на последний пример! Очень важная часть идеологии Питона — это цикл for, 
который предоставляет удобный способ перебрать все элементы некоторой последовательности. 

В этом отличие Питона от Паскаля, где вам обязательно надо перебирать именно индексы элементов, а не сами элементы.
Последовательностями в Питоне являются строки, списки, значения функции range() (это не списки), и ещё кое-какие другие объекты.

Приведем пример, демонстрирующий использование цикла for в ситуации, когда из строки надо выбрать все цифры и сложить их в массив как числа.
'''
#######################################################################################################


# дано: s = 'ab12c59p7dk'
# надо: извлечь цифры в список digits,
# чтобы стало так:
# digits == [1, 2, 5, 9, 7]

s    = 'ab12c59p7dk'
print(s)
digs = []

for symbol in s:
  print('for each symbol in s - ',symbol)
  if '1234567890'.find(symbol) != -1:
    print('digit detected -', symbol)
    digs.append(int(symbol))
    print('list \'digs\' appended - ', digs)
print(s)
print(digs)

ab12c59p7dk
for each symbol in s -  a
for each symbol in s -  b
for each symbol in s -  1
digit detected - 1
list 'digs' appended -  [1]
for each symbol in s -  2
digit detected - 2
list 'digs' appended -  [1, 2]
for each symbol in s -  c
for each symbol in s -  5
digit detected - 5
list 'digs' appended -  [1, 2, 5]
for each symbol in s -  9
digit detected - 9
list 'digs' appended -  [1, 2, 5, 9]
for each symbol in s -  p
for each symbol in s -  7
digit detected - 7
list 'digs' appended -  [1, 2, 5, 9, 7]
for each symbol in s -  d
for each symbol in s -  k
ab12c59p7dk
[1, 2, 5, 9, 7]

## **2. Методы split и join**

* Элементы списка могут вводиться по одному в строке, в этом случае строку целиком можно считать функцией 
```python 
  input() 
```
* После этого можно использовать метод строки 
```python 
  split() 
``` 
возвращающий список строк, которые получатся, если исходную строку разрезать на части по пробелам.

In [ ]:
# на вход подаётся строка
# 1 2 3
s = input()    # s == '1 2 3'
a = s.split()  # a == ['1', '2', '3']
print(a)

12 vb 5j 0-
['12', 'vb', '5j', '0-']

In [ ]:
'''
Если при запуске этой программы ввести строку 1 2 3, то список a будет равен ['1', '2', '3']. 

Обратите внимание, что список будет состоять из строк, а не из чисел. 

Если хочется получить список именно из чисел, то можно затем элементы списка по одному преобразовать в числа:
'''

a = input().split()
print('list a = ',a)
for i in range(len(a)):
  a[i] = int(a[i])
print(a)

09 89 911
list a =  ['09', '89', '911']
[9, 89, 911]

In [ ]:
# ######################### — генераторы —  ####################################
#
#  Используя специальную магию Питона — генераторы — 
#      то же самое можно сделать в одну строку:
#
################################################################################

a = [int(s) for s in input().split()]
print(a)

3 4 5 6 77
[3, 4, 5, 6, 77]

In [ ]:
'''
У метода split() есть необязательный параметр, который определяет, 
какая строка будет использоваться в качестве разделителя между элементами списка. 

Например, вызов метода split('.') вернет список, полученный разрезанием исходной строки по символам '.':
'''

a = input().split('.')
b = '192.168.0.1'.split('.')
print(a)
print(b)

1.2.3
['1', '2', '3']
['192', '168', '0', '1']

In [ ]:
# ############################## — join —  #####################################
'''
В Питоне можно вывести список строк при помощи однострочной команды. 
Для этого используется метод строки join. 
 * У этого метода один параметр: список строк. 
В результате возвращается строка, полученная соединением элементов переданного списка в одну строку, 
при этом между элементами списка вставляется разделитель, равный той строке, к которой применяется метод. 
Мы знаем, что вы не поняли предыдущее предложение с первого раза. Поэтому смотрите примеры:
'''
################################################################################

a = ['red','green','blue']
print(' '.join(a))
print(''.join(a))
print('***'.join(a))

# Если же список состоит из чисел, то придется использовать еще тёмную магию генераторов. 
# Вывести элементы списка чисел, разделяя их пробелами, можно так:

a = [1, 2, 3, 4, 5]
print(' - '.join([str(i) for i in a]))

red green blue
redgreenblue
red***green***blue
1 - 2 - 3 - 4 - 5

## **3. Генераторы списков**

Для создания списка, заполненного одинаковыми элементами, можно использовать оператор повторения списка, например:

In [ ]:
n = 5
a = [0]  * n

print('n =',n, '; list \'a = [0]  * n\' = ',a)

n = 5 ; list 'a = [0]  * n'  : [0, 0, 0, 0, 0]

In [ ]:
################ ГЕНЕРАТОР #####################################################
# 
# [выражение for переменная in последовательность] 
#
################################################################################
'''
где 
 * переменная — идентификатор некоторой переменной, 
 * последовательность — последовательность значений, который принимает данная переменная 
   (это может быть список, строка или объект, полученный при помощи функции range), 
 * выражение — некоторое выражение, как правило, зависящее от использованной в генераторе переменной, которым будут заполнены элементы списка.

Вот несколько примеров использования генераторов.
Создать список, состоящий из n нулей можно и при помощи генератора:
'''

a = [0 for i in range(5)]
print(a)

n = 5
a = [i ** 2 for i in range(1, n + 1)]
print(a)

# Вот так можно получить список, заполненный случайными числами от 1 до 9 
# (используя функцию randrange из модуля random):
from random import randrange
n = 20
a = [randrange(0,11) for i in range(n)]
print(a)

'''
А в этом примере список будет состоять из строк, считанных со стандартного ввода: 
  сначала нужно ввести число элементов списка (это значение будет использовано в качестве аргумента функции range), 
  потом — заданное количество строк:
'''
a = [input() for i in range(int(input()))]
print(a)

3
4
5
5
['4', '5', '5']

## **4. Срезы**

Со списками, так же как и со строками, можно делать срезы.

**А именно:**

* A[i:j]  срез из j-i элементов A[i], A[i+1], ..., A[j-1].
* A[i:j:-1]  срез из i-j элементов A[i], A[i-1], ..., A[j+1] (то есть меняется порядок элементов).

* A[i:j:k]  срез с шагом k: A[i], A[i+k], A[i+2*k],... . Если значение k<0, то элементы идут в противоположном порядке.

* Каждое из чисел i или j может отсутствовать, что означает “начало строки” или “конец строки”

**Списки, в отличии от строк, являются изменяемыми объектами:** 
* можно отдельному элементу списка присвоить новое значение. 
* Но можно менять и целиком срезы.

Например:

In [ ]:
A = [1, 2, 3, 4, 5]
print(A)
print('A[2:4] = ',A[2:4]) # A[i:j]  срез из j-i элементов A[i], A[i+1], ..., A[j-1].

A[2:4] = [7, 8, 9]        # Получится список, у которого вместо двух элементов среза A[2:4] 
                          # вставлен новый список уже из трех элементов. 
print(A)                  # Теперь список стал равен [1, 2, 7, 8, 9, 5]

A = [1, 2, 3, 4, 5, 6,  7]
A[::-2] = [10, 20, 30, 40]

print(A)

[40, 2, 30, 4, 20, 6, 10]

**Операции со списками**

Со списками можно легко делать много разных операций.

* x in A	Проверить, содержится ли элемент в списке. Возвращает True или False
* x not in A	То же самое, что not(x in A)
* min(A)	Наименьший элемент списка
* max(A)	Наибольший элемент списка
* A.index(x)	Индекс первого вхождения элемента x в список, при его отсутствии генерирует исключение ValueError
* A.count(x)	Количество вхождений элемента x в список

## **ЗАДАЧИ**

### [Задача «Четные индексы»](https://pythontutor.ru/lessons/lists/problems/even_indices/)

In [ ]:
# Условие
# Выведите все элементы списка с четными индексами (то есть A[0], A[2], A[4], ...).

a = ''.split()
a = '1 2 3 4 5'
a = '4 5 3 4 2 3'
a = '90 45 3 43'
a = '40 64 -80 -98 -68 56 85 87 -68 -78'
a = '-1 -11 -40 3 -47 -37 -18 -100 6 -29 14 -1 -89 -20 -36 7 5 78 -5 85'
a = '-46 35 72 -79 38 -32 1 23 -84 -84 50 -46 -57 -44 72 33 91 -6 88 91 -12 -76 -78 95 63 45 54 13 58 -19 30 48 -98 37 97'

a = a.split()


print(a)

for i in range(0, len(a), 2):
  print(a[i])

['-46', '35', '72', '-79', '38', '-32', '1', '23', '-84', '-84', '50', '-46', '-57', '-44', '72', '33', '91', '-6', '88', '91', '-12', '-76', '-78', '95', '63', '45', '54', '13', '58', '-19', '30', '48', '-98', '37', '97']
-46
72
38
1
-84
50
-57
72
91
88
-12
-78
63
54
58
30
-98
97

### [Задача «Четные элементы»](https://pythontutor.ru/lessons/lists/problems/even_elements/)

**Условие**
* Выведите все четные элементы списка. 
* При этом используйте цикл for, перебирающий элементы списка, а не их индексы!

In [ ]:
a = '1 2 2 3 3 3 4'
a = '1 2 3 4 5'
a = '44 -51 32 -60 -7 -67 62 91 26 -14'

a = a.split()

print('list \'a\' =', a)
print('-------------------------------')

# n = len(a)-1

for elem in a:
  if int(elem) % 2 == 0:
    print(elem)

  # print(elem, n, n % 2, n // 2)
  # n -= 1

list 'a' = ['44', '-51', '32', '-60', '-7', '-67', '62', '91', '26', '-14']
-------------------------------
44
32
-60
62
26
-14

### [Задача «Больше предыдущего»](https://pythontutor.ru/lessons/lists/problems/increasing_neighbours/)

**Условие**
* Дан список чисел. 
* Выведите все элементы списка, которые больше предыдущего элемента.

Во всех задачах считывайте входные данные через input() и выводите ответ через print().

In [ ]:
a = '1 5 2 4 3'
a = '1 2 3 4 5'
a = '5 1 5 1 5'
a = '2147483647 0 1 2 3'
a = '-9 29 -100 64 26 73 -96 28 -92 11 -14'
a = a.split()
print('list \'a\' =',a, '; len(a) =', len(a))
print('---------------------------------------------')

print('a[',0,'] = ', a[0], sep ='')
for i in range(1, len(a)):
  print('a[',i,'] = ', a[i], sep ='')

  if a[i] > a[i-1]:
    print('detected element ',a[i],' - larger then previous ',a[i-1], sep = '')

list 'a' = ['-9', '29', '-100', '64', '26', '73', '-96', '28', '-92', '11', '-14'] ; len(a) = 11
---------------------------------------------
a[0] = -9
a[1] = 29
detected element 29 - larger then previous -9
a[2] = -100
a[3] = 64
detected element 64 - larger then previous -100
a[4] = 26
a[5] = 73
detected element 73 - larger then previous 26
a[6] = -96
a[7] = 28
detected element 28 - larger then previous -96
a[8] = -92
a[9] = 11
detected element 11 - larger then previous -92
a[10] = -14

### [Задача «Соседи одного знака»](https://pythontutor.ru/lessons/lists/problems/same_sign_neighbours/)

**Условие**
* Дан список чисел. 
* Если в нем есть два соседних элемента одного знака, выведите эти числа. 
* Если соседних элементов одного знака нет — не выводите ничего. 
* Если таких пар соседей несколько — выведите первую пару.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '-1 2 3 -1 -2' # ok
a = '1 2 -3 -4 -5' # ok
a = '-1 2 -3 4 -5 6' # ok
a = '1 -1 1 -1 -1 1 -1 1 -1 1' # ok
a = '1 -1 1 -1 1 1 -1 1 -1 1'

a = a.split(' ')
print('list \'a\' =',a, '; len(a) =', len(a))
print('---------------------------------------------------')

# print('a[',0,'] = ', a[0], sep ='')
for i in range(0, len(a)):
  a[i] = int(a[i])
  print('a[',i,'] = ', a[i], sep ='')

  if i > 0 and ( (a[i-1] < 0 and a[i] < 0) or (a[i-1] > 0 and a[i] > 0) ):  # выводит все пары а надо только первую
    print('Group detected:', a[i-1], a[i])
    break

list 'a' = ['1', '-1', '1', '-1', '1', '1', '-1', '1', '-1', '1'] ; len(a) = 10
---------------------------------------------------
a[0] = 1
a[1] = -1
a[2] = 1
a[3] = -1
a[4] = 1
a[5] = 1
Group detected: 1 1

### [Задача «Больше своих соседей»](https://pythontutor.ru/lessons/lists/problems/more_than_neighbours/)

**Условие**
* Дан список чисел. 
* Определите, сколько в этом списке элементов, которые больше двух своих соседей, и выведите количество таких элементов. 
* Крайние элементы списка никогда не учитываются, поскольку у них недостаточно соседей.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '1 5 1 5 1'
a = '5 4 3 2 1'
a = '1 5 1 5 1'
a = '2147483647 0 1 0 2147483647'

a = a.split(' ')
print('list \'a\' =',a, '; len(a) =', len(a))
print('---------------------------------------------------')

cnt = int(0)

for i in range(len(a)):
  print('a[',i,'] = ', a[i], sep ='')
  #print('-- if block ----------------------------------------')
  #print('Current index = ',i,'. a[', i-1,'] =', a[i-1], ', a[', i,'] = ', a[i], ', a[', i+1,'] = ', a[i+1], sep = '')
  #print('-- if block ----------------------------------------')
  if (i > 0 and i < len(a) - 1) and ( a[i-1] < a[i] > a[i+1]):
    print('       Detected ', a[i])
    cnt += 1
print('---------------------------------------------------------------')
print('Count of numbers that more than two of their neighbors =', cnt)

list 'a' = ['2147483647', '0', '1', '0', '2147483647'] ; len(a) = 5
---------------------------------------------------
a[0] = 2147483647
a[1] = 0
a[2] = 1
       Detected  1
a[3] = 0
a[4] = 2147483647
---------------------------------------------------------------
Count of numbers that more than two of their neighbors = 1

### [Задача «Наибольший элемент»](https://pythontutor.ru/lessons/lists/problems/maximal_element/)

**Условие**
* Дан список чисел. 
* Выведите значение наибольшего элемента в списке, а затем индекс этого элемента в списке. 
* Если наибольших элементов несколько, выведите индекс первого из них.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '1 2 3 2 1'
a = '-1 -2 -3 -4 -5'
a = '1 2 3 4 5'
a = '-100 -100 -100 -100 -100'
a = '-79 92 70 72 28 45 37 -86 -12 0 -27 -14 -69 63 -68 74 45 49 96 -20'

a = a.split(' ')
print('list \'a\' =',a, '; len(a) =', len(a))
print('---------------------------------------------------')

print('')
print('Min element of list a is a[', a.index(min(a)),'] = ',min(a), sep = '')
print('Max element of list a is a[', a.index(max(a)),'] = ',max(a), sep = '')

list 'a' = ['-79', '92', '70', '72', '28', '45', '37', '-86', '-12', '0', '-27', '-14', '-69', '63', '-68', '74', '45', '49', '96', '-20'] ; len(a) = 20
---------------------------------------------------

Min element of list a is a[8] = -12
Max element of list a is a[18] = 96

### [Задача «Шеренга»](https://pythontutor.ru/lessons/lists/problems/lineup/)

**Условие**

Петя перешёл в другую школу. 
На уроке физкультуры ему понадобилось определить своё место в строю. 

**Помогите ему это сделать.**

* Программа получает на вход невозрастающую последовательность натуральных чисел, означающих рост каждого человека в строю. 
* После этого вводится число X – рост Пети. 
* Все числа во входных данных натуральные и не превышают 200.

* Выведите номер, под которым Петя должен встать в строй. 
* Если в строю есть люди с одинаковым ростом, таким же, как у Пети, то он должен встать после них.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '165 163 160 160 157 157 155 154'

pg = int(162)

a = a.split(' ')
print('list of str \'a\' = ',a, '; len(a) = ', len(a), sep ='')
print('Peter grows =',pg)


# оцифровка списка подсмотрено -------------------------------------------------
# desired_array = [int(numeric_string) for numeric_string in current_array]
''' Описание генераторов -------------------------------------------------------
[выражение for переменная in последовательность]
  переменная          — идентификатор некоторой переменной, 
  последовательность  — последовательность значений, который принимает данная переменная 
                           (это может быть список, строка или объект, полученный при помощи функции range), 
  выражение           — некоторое выражение, как правило, зависящее от использованной в генераторе переменной, 
                            которым будут заполнены элементы списка.
--------------------------------------------------------------------------------'''

a = [int(elem) for elem in a ]

a.append(pg)

print('list of num \'a\' + pg = ',a, '; len(a) = ', len(a), sep ='')
print('------------------------------------------------------------------')


# sorting of the list ----------------------------------------------------------
'''
Быстрая сортировка, сортировка Хоара (англ. quicksort) - https://ru.wikipedia.org/wiki/%D0%91%D1%8B%D1%81%D1%82%D1%80%D0%B0%D1%8F_%D1%81%D0%BE%D1%80%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0
Алгоритм состоит из трёх шагов:
 1. Выбрать элемент из массива. Назовём его опорным.
 2. Разбиение: перераспределение элементов в массиве таким образом, что 
      2.1) элементы меньше опорного помещаются перед ним, 
      2.2) элементы больше или равные после.
 3. Рекурсивно применить первые два шага к двум подмассивам слева и справа от опорного элемента. Рекурсия не применяется к массиву, в котором только один элемент или отсутствуют элементы.
'''

# https://www.youtube.com/watch?v=XssganlbYLw
#
# 1. Select the pivot - in a middle for a while
# 2. define 2 markers - left and right
# 3. Partition the subarray. - from 1 to len-1
# 4. 

piv = len(a) // 2
n, lf, rt = int(1), (0), len(a)-1
cnt_s, lf_s, rt_s = int(0), int(0), int(0)     # switch indicator 1 - wrong place

print('Ready to sort! Pivot: a[',piv,'] = ',a[piv], ', left mark = ',lf, ', right mark = ', rt, sep ='')

print('------------------------------------------------------------------')

while n <= 8: # main sort loop

  for i in range(lf, piv):
    #print('lf -', i, a[i])
    if a[i] > a[piv]:   # left elem on WRONG place
      lf_s = 1
      lf = i
      print('Step ',n,' Candidate to change left a[',lf,'] =', a[lf] , ', lf_s =', lf_s, ', rt_s =', rt_s,  sep ='')
      break

  for i in range(rt, piv-1, -1):
    #print('rt -', i, a[i])
    if a[i] <= a[piv]:   # right left elem on WRONG place
      rt_s = 1
      rt = i
      print('Step ',n,' Candidate to change righ a[',rt,'] =', a[rt] , ', rt_s =', rt_s, ', lf_s =', lf_s, sep ='')
      break
    

  # switch candidate step ************************
  #if lf_s + rt_s > 1:   # If there are two or left + piv candidates for change
  if (lf_s + rt_s > 1) or (lf_s == 1 and rt_s == 0):   # If there are two or left + piv candidates for change
    print('------------------------')
    print('Step',n,'list  In:', a, lf, lf_s , rt, rt_s)

    a[lf], a[rt] = a[rt], a[lf]   # change positions
    lf_s, rt_s = 0, 0             # switch off change indicator

    print('Step',n,'list Out:',a, lf, lf_s , rt, rt_s)
    print('------------------------')
  #elif lf_s == 1 and rt_s == 0:
   # print('last call')
  else:              # If there are only ONE candidate for change
    print('The First trace is done! lf = ', lf ,', rt = ', rt, sep ='')
    lf, rt = 0, 0
    break

  n += 1

print('------------------------------------------------------------------')

list of str 'a' = ['165', '163', '160', '160', '157', '157', '155', '154']; len(a) = 8
Peter grows = 162
list of num 'a' + pg = [165, 163, 160, 160, 157, 157, 155, 154, 162]; len(a) = 9
------------------------------------------------------------------
Ready to sort! Pivot: a[4] = 157, left mark = 0, right mark = 8
------------------------------------------------------------------
Step 1 Candidate to change left a[0] =165, lf_s =1, rt_s =0
Step 1 Candidate to change righ a[7] =154, rt_s =1, lf_s =1
------------------------
Step 1 list  In: [165, 163, 160, 160, 157, 157, 155, 154, 162] 0 1 7 1
Step 1 list Out: [154, 163, 160, 160, 157, 157, 155, 165, 162] 0 0 7 0
------------------------
Step 2 Candidate to change left a[1] =163, lf_s =1, rt_s =0
Step 2 Candidate to change righ a[6] =155, rt_s =1, lf_s =1
------------------------
Step 2 list  In: [154, 163, 160, 160, 157, 157, 155, 165, 162] 1 1 6 1
Step 2 list Out: [154, 155, 160, 160, 157, 157, 163, 165, 162] 1 0 6 0
------------------------
Step 3 Candidate to change left a[2] =160, lf_s =1, rt_s =0
Step 3 Candidate to change righ a[5] =157, rt_s =1, lf_s =1
------------------------
Step 3 list  In: [154, 155, 160, 160, 157, 157, 163, 165, 162] 2 1 5 1
Step 3 list Out: [154, 155, 157, 160, 157, 160, 163, 165, 162] 2 0 5 0
------------------------
Step 4 Candidate to change left a[3] =160, lf_s =1, rt_s =0
Step 4 Candidate to change righ a[4] =157, rt_s =1, lf_s =1
------------------------
Step 4 list  In: [154, 155, 157, 160, 157, 160, 163, 165, 162] 3 1 4 1
Step 4 list Out: [154, 155, 157, 157, 160, 160, 163, 165, 162] 3 0 4 0
------------------------
Step 5 Candidate to change righ a[4] =160, rt_s =1, lf_s =0
The First trace is done! lf = 3, rt = 4
------------------------------------------------------------------

In [ ]:
# НАДО БЫЛО РЕШАТЬ БЕЗ!!!!!! СОРТИРОВКИ БЛЯЯЯЯЯЯЯЯЯ!!!!!! ТРИ ЧАСА УБИЛ Н ЭТОТ QuickSort!!!!!

# Выведите номер, под которым Петя должен встать в строй. 
# Если в строю есть люди с одинаковым ростом, таким же, как у Пети, то он должен встать после них.
a = '165 163 160 160 157 157 155 154'
a = '39 35 32 32 31 28 28 27 25 24 20 16 16 12 10'
a = '36 34 34 34 34 31 31 29 25 22 19 17 16 14 14 11'
a = '151 149 148 148 146 142 142 141 139 137 135 132 132 130 129 126 123 123 123 121 121 121 117 115 113 112 112 111 111 111 111 107 104 101 97 93 90 90 88 88 87 83 82 79 79 77 73 73 72 70 67 65 64 61 60 60 59 55 55 54 52 51 47 47 43 41 39 37 35 31 28 25 23 23 22 19'

pg = int(117)

a = a.split(' ')
print('list of str \'a\' = ',a, '; len(a) = ', len(a), sep ='')

# оцифровка списка подсмотрено -------------------------------------------------
# desired_array = [int(numeric_string) for numeric_string in current_array]
''' Описание генераторов -------------------------------------------------------
[выражение for переменная in последовательность]
  переменная          — идентификатор некоторой переменной, 
  последовательность  — последовательность значений, который принимает данная переменная 
                           (это может быть список, строка или объект, полученный при помощи функции range), 
  выражение           — некоторое выражение, как правило, зависящее от использованной в генераторе переменной, 
                            которым будут заполнены элементы списка.
--------------------------------------------------------------------------------'''

a = [int(elem) for elem in a ]

# a.append(pg)

print('list of num \'a\' = ',a, '; len(a) = ', len(a), sep ='')
print('Peter grows =', pg)

print('------------------------------------------------------------------')
cnt = int(1)

for i in range(len(a)):
  #print(a[i])
  if pg <= a[i]:
    cnt += 1
print(cnt)

list of str 'a' = ['151', '149', '148', '148', '146', '142', '142', '141', '139', '137', '135', '132', '132', '130', '129', '126', '123', '123', '123', '121', '121', '121', '117', '115', '113', '112', '112', '111', '111', '111', '111', '107', '104', '101', '97', '93', '90', '90', '88', '88', '87', '83', '82', '79', '79', '77', '73', '73', '72', '70', '67', '65', '64', '61', '60', '60', '59', '55', '55', '54', '52', '51', '47', '47', '43', '41', '39', '37', '35', '31', '28', '25', '23', '23', '22', '19']; len(a) = 76
list of num 'a' = [151, 149, 148, 148, 146, 142, 142, 141, 139, 137, 135, 132, 132, 130, 129, 126, 123, 123, 123, 121, 121, 121, 117, 115, 113, 112, 112, 111, 111, 111, 111, 107, 104, 101, 97, 93, 90, 90, 88, 88, 87, 83, 82, 79, 79, 77, 73, 73, 72, 70, 67, 65, 64, 61, 60, 60, 59, 55, 55, 54, 52, 51, 47, 47, 43, 41, 39, 37, 35, 31, 28, 25, 23, 23, 22, 19]; len(a) = 76
Peter grows = 117
------------------------------------------------------------------
24

### [Задача «Количество различных элементов»](https://pythontutor.ru/lessons/lists/problems/num_distinct/)

**Условие**
* Дан список, упорядоченный по неубыванию элементов в нем. 
* Определите, сколько в нем различных элементов.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '1 2 2 3 3 3'
# a = '2 2 2'
a = '1 2 3 4 5'
#a = '-64 -45 -38 -16 -14 -7 2 53 70 80'
a = '-98 -97 -95 -95 -94 -92 -88 -88 -85 -85 -83 -82 -81 -80 -77 -75 -72 -67 -63 -63 -60 -58 -56 -54 -52 -47 -46 -45 -45 -44 -41 -40 -37 -30 -28 -28 -28 -28 -28 -24 -24 -24 -20 -17 -16 -16 -16 -16 -15 -12 -3 -1 -1 -1 1 13 16 17 19 26 26 30 33 40 47 50 52 53 53 54 56 56 57 57 58 60 62 63 64 71 71 72 73 75 75 79 79 80 81 81 82 83 86 86 87 89 90 93 97 98'

a = a.split(' ')

# оцифровка генератором: [выражение for переменная in последовательность]
print(a)
a = [int(i) for i in a]
print(a)

#cnt = [(if a[i-1]) for i in range(1, len(a))]

cnt_dif = int(1)

for i in range(1, len(a)):
  if a[i-1] != a[i]:
    cnt_dif += 1
  #print(a[i-1], a[i], cnt_dif) # a[i] % a[i-1])
print('List a contains ',cnt_dif,' different elements', sep = '')

['-98', '-97', '-95', '-95', '-94', '-92', '-88', '-88', '-85', '-85', '-83', '-82', '-81', '-80', '-77', '-75', '-72', '-67', '-63', '-63', '-60', '-58', '-56', '-54', '-52', '-47', '-46', '-45', '-45', '-44', '-41', '-40', '-37', '-30', '-28', '-28', '-28', '-28', '-28', '-24', '-24', '-24', '-20', '-17', '-16', '-16', '-16', '-16', '-15', '-12', '-3', '-1', '-1', '-1', '1', '13', '16', '17', '19', '26', '26', '30', '33', '40', '47', '50', '52', '53', '53', '54', '56', '56', '57', '57', '58', '60', '62', '63', '64', '71', '71', '72', '73', '75', '75', '79', '79', '80', '81', '81', '82', '83', '86', '86', '87', '89', '90', '93', '97', '98']
[-98, -97, -95, -95, -94, -92, -88, -88, -85, -85, -83, -82, -81, -80, -77, -75, -72, -67, -63, -63, -60, -58, -56, -54, -52, -47, -46, -45, -45, -44, -41, -40, -37, -30, -28, -28, -28, -28, -28, -24, -24, -24, -20, -17, -16, -16, -16, -16, -15, -12, -3, -1, -1, -1, 1, 13, 16, 17, 19, 26, 26, 30, 33, 40, 47, 50, 52, 53, 53, 54, 56, 56, 57, 57, 58, 60, 62, 63, 64, 71, 71, 72, 73, 75, 75, 79, 79, 80, 81, 81, 82, 83, 86, 86, 87, 89, 90, 93, 97, 98]
List a contains 75 different elements

### [Задача «Переставить соседние»](https://pythontutor.ru/lessons/lists/problems/swap_neighbours/)

**Условие**
* Переставьте соседние элементы списка (A[0] c A[1], A[2] c A[3] и т. д.). 
* Если элементов нечетное число, то последний элемент остается на своем месте.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '1 2 3 4 5'       # answewr - 2 1 4 3 5
a = '4 5 3 4 2 3'     # answewr - 5 4 4 3 3 2
a = '40 64 -80 -98 -68 56 85 87 -68 -78'  # answer 

a = a.split(' ')
print(a)
a = [int(i) for i in a]
print(a, 'len(a) =', len(a))

for i in range(len(a)):
  print('a[',i,'] =', a[i], sep ='')
  
  if (i % 2): 
    print('Step: ',i,'. It\'s time to change: a[',i,'] = ', a[i], ' and a[',i-1,'] = ', a[i-1], sep = '')
    #print(a[i-1 : i+1],  a[-5 : -3 ], a[-4 : -5 - 1 : -1 ], a[ i - len(a) : i - len(a) -2 : -1])
    #print(a[i-1], a[i])
    a[i-1 : i+1] = a[ i - len(a) : i - len(a) -2 : -1]
    #print(a)
print('-------------------------------------------------------------------------')
print(a)

['40', '64', '-80', '-98', '-68', '56', '85', '87', '-68', '-78']
[40, 64, -80, -98, -68, 56, 85, 87, -68, -78] len(a) = 10
a[0] =40
a[1] =64
Step: 1. It's time to change: a[1] = 64 and a[0] = 40
a[2] =-80
a[3] =-98
Step: 3. It's time to change: a[3] = -98 and a[2] = -80
a[4] =-68
a[5] =56
Step: 5. It's time to change: a[5] = 56 and a[4] = -68
a[6] =85
a[7] =87
Step: 7. It's time to change: a[7] = 87 and a[6] = 85
a[8] =-68
a[9] =-78
Step: 9. It's time to change: a[9] = -78 and a[8] = -68
-------------------------------------------------------------------------
[64, 40, -98, -80, 56, -68, 87, 85, -78, -68]

In [ ]:
# ------------------------------------------------------------------------------ 
''' Задача «Переставить min и max»

Условие
* В списке все элементы различны. 
* Поменяйте местами минимальный и максимальный элемент этого списка.
Во всех задачах считывайте входные данные через input() и выводите ответ через print().
'''

a = '3 4 5 2 1'       # answewr - 3 4 1 2 5
a = '1 5 4 3 2'   # 5 1 4 3 2
a = '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 17 16 15 14' # 


a = a.split(' ')
print('list str \'a\': ',a, ', len(a) =', len(a))

a = [int(i) for i in a]
print('list int \'a\': ',a, ', len(a) =', len(a))

print('------------------------------------------------------------------------')
print('min(a) =',min(a), ', index min =', a.index(min(a)), 'max(a) =',max(a) , ', index max =', a.index(max(a)))

#print(a[0], a[1])

amax = a.index(max(a))
amin = a.index(min(a))

#print(amax, amin)

print(a)
a[amin], a[amax] = a[amax], a[amin]
#print(a[0], a[1])

#print(a[a.index(min(a))], a[a.index(max(a))])
print(a)

list str 'a':  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '17', '16', '15', '14'] , len(a) = 22
list int 'a':  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 17, 16, 15, 14] , len(a) = 22
------------------------------------------------------------------------
min(a) = 1 , index min = 0 max(a) = 18 , index max = 17
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 17, 16, 15, 14]
[18, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1, 17, 16, 15, 14]

### [Задача «Удалить элемент»](https://pythontutor.ru/lessons/lists/problems/remove_element/)

**Условие**

* Дан список из чисел и индекс элемента в списке k. 
* Удалите из списка элемент с индексом k, сдвинув влево все элементы, стоящие правее элемента с индексом k.

1. Программа получает на вход список, затем число k. 
1. Программа сдвигает все элементы, а после этого удаляет последний элемент списка при помощи метода pop() без параметров.

* Программа должна осуществлять сдвиг непосредственно в списке, а не делать это при выводе элементов. 
* Также нельзя использовать дополнительный список. 
* Также не следует использовать метод pop(k) с параметром.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '7 6 5 4 3 2 1'       # answewr - 7 6 4 3 2 1

idx = 2
# Split & Digitize the list 'a' ------------------------
a = a.split(' ')
print('list str \'a\': ',a, ', len(a) =', len(a))

a = [int(i) for i in a]
print('list int \'a\': ',a, ', len(a) =', len(a))
# -------------------------------------------------------
print('Idx = ',idx, ', a[',idx,'] = ',a[idx], sep ='')


print('------------------------------------------------------------------------')
print(a[0 : idx], '+', a[idx +1 :], '= ', end = '')

a = a[0 : idx] + a[idx +1 :]

print(a)

list str 'a':  ['7', '6', '5', '4', '3', '2', '1'] , len(a) = 7
list int 'a':  [7, 6, 5, 4, 3, 2, 1] , len(a) = 7
Idx = 2, a[2] = 5
------------------------------------------------------------------------
[7, 6] + [4, 3, 2, 1] = [7, 6, 4, 3, 2, 1]

### [Задача «Вставить элемент»](https://pythontutor.ru/lessons/lists/problems/insert_element/)

**Условие**

* Дан список целых чисел, число k и значение C. 
* Необходимо вставить в список на позицию с индексом k элемент, равный C, сдвинув все элементы, имевшие индекс не менее k, вправо.
* Поскольку при этом количество элементов в списке увеличивается, после считывания списка в его конец нужно будет добавить новый элемент, используя метод append.

*Вставку необходимо осуществлять уже в считанном списке, не делая этого при выводе и не создавая дополнительного списка.*

Во всех задачах считывайте входные данные через input() и выводите ответ через print().

In [ ]:
a = '7 6 5 4 3 2 1'              # answewr - 7 6 0 5 4 3 2 1     2 0
a = '4 6 2 4 3 5 12 24 3 5'      # answewr - 4 6 2 4 22 3 5 12 24 3 5   4 22

idx  = int(4)     # число k
elem = int(22)     # значение C
# Split & Digitize the list 'a' ------------------------
a = a.split(' ')
print('list str \'a\': ',a, ', len(a) =', len(a))

a = [int(i) for i in a]
print('list int \'a\': ',a, ', len(a) =', len(a))
# -------------------------------------------------------
print('Idx = ',idx, ', elem = ',elem, sep ='')

print('------------------------------------------------------------------------')


# Decision through slices ************************************
print(a[:idx])

for i in range(len(a)):
  print('a[',i,'] =', a[i], sep ='')
  if i == idx:
    print('time to append')
    a[:idx] = a[:idx] + [elem]
print(a)
print('-------------------------------------------------------------------------')

# Decision through append ************************************
# а зачем ???

list str 'a':  ['4', '6', '2', '4', '3', '5', '12', '24', '3', '5'] , len(a) = 10
list int 'a':  [4, 6, 2, 4, 3, 5, 12, 24, 3, 5] , len(a) = 10
Idx = 4, elem = 22
------------------------------------------------------------------------
[4, 6, 2, 4]
a[0] =4
a[1] =6
a[2] =2
a[3] =4
a[4] =3
time to append
a[5] =3
a[6] =5
a[7] =12
a[8] =24
a[9] =3
[4, 6, 2, 4, 22, 3, 5, 12, 24, 3, 5]
-------------------------------------------------------------------------

### [Задача «Количество совпадающих пар»](https://pythontutor.ru/lessons/lists/problems/num_equal_pairs/)

**Условие**

* Дан список чисел. 
* Посчитайте, сколько в нем пар элементов, равных друг другу. 
* Считается, что любые два элемента, равные друг другу образуют одну пару, которую необходимо посчитать.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '1 2 3 2 3'      # answewr:  2
a = '1 1 1 1 1'

cnt = int(0)
# Split & Digitize the list 'a' ------------------------
a = a.split(' ')
print('list str \'a\': ',a, ', len(a) =', len(a))

a = [int(i) for i in a]
print('list int \'a\': ',a, ', len(a) =', len(a))
# -------------------------------------------------------

print('------------------------------------------------------------------------')
for i in range(len(a)):
  print('Search for a[',i,'] = ', a[i], ' ------------------', sep ='')
  for j in range(i + 1, len(a)):
    print('Check: a[',i,']: ',a[i],' = a[',j,']: ',a[j], sep = '')
    if a[i] == a[j]:
      cnt += 1
      print('Found!', cnt)
      
print(cnt)

list str 'a':  ['1', '1', '1', '1', '1'] , len(a) = 5
list int 'a':  [1, 1, 1, 1, 1] , len(a) = 5
------------------------------------------------------------------------
Search for a[0] = 1 ------------------
Check: a[0]: 1 = a[1]: 1
Found! 1
Check: a[0]: 1 = a[2]: 1
Found! 2
Check: a[0]: 1 = a[3]: 1
Found! 3
Check: a[0]: 1 = a[4]: 1
Found! 4
Search for a[1] = 1 ------------------
Check: a[1]: 1 = a[2]: 1
Found! 5
Check: a[1]: 1 = a[3]: 1
Found! 6
Check: a[1]: 1 = a[4]: 1
Found! 7
Search for a[2] = 1 ------------------
Check: a[2]: 1 = a[3]: 1
Found! 8
Check: a[2]: 1 = a[4]: 1
Found! 9
Search for a[3] = 1 ------------------
Check: a[3]: 1 = a[4]: 1
Found! 10
Search for a[4] = 1 ------------------
10

### [Задача «Уникальные элементы»](https://pythontutor.ru/lessons/lists/problems/unique_elements/)

**Условие**
* Дан список.
* Выведите те его элементы, которые встречаются в списке только один раз. 
* Элементы нужно выводить в том порядке, в котором они встречаются в списке.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
a = '1 2 2 3 3 3'      # answewr:  1
a = '4 3 5 2 5 1 3 5'
a = '6 9 6 23 12 19 14 26'

cnt = int(0)
# Split & Digitize the list 'a' ------------------------
a = a.split(' ')
print('list str \'a\': ',a, ', len(a) =', len(a))

a = [int(i) for i in a]
print('list int \'a\': ',a, ', len(a) =', len(a))
# -------------------------------------------------------

print('------------------------------------------------------------------------')


for i in range(len(a)):
  # print('Search for a[',i,'] = ', a[i], ' ------------------', sep ='')
  if a.count(a[i]) == 1:
    print(a[i],' ',sep = '', end = '')

list str 'a':  ['6', '9', '6', '23', '12', '19', '14', '26'] , len(a) = 8
list int 'a':  [6, 9, 6, 23, 12, 19, 14, 26] , len(a) = 8
------------------------------------------------------------------------
9 23 12 19 14 26

### [Задача «Кегельбан»](https://pythontutor.ru/lessons/lists/problems/kegelbahn/)

**Условие**

* **N** кеглей выставили в один ряд, занумеровав их слева направо числами от **1 до N**. 
* Затем по этому ряду бросили **K** шаров, при этом i-й шар сбил все кегли с номерами от **li** до **ri** включительно. 
* Определите, какие кегли остались стоять на месте.

1. Программа получает на вход количество кеглей **N** и количество бросков **K**. 
1. Далее идет **K** пар чисел **li**, **ri**, при этом **1 ≤ li ≤ ri ≤ N**.

* Программа должна вывести последовательность из N символов, где j-й символ есть “I”, если j-я кегля осталась стоять, или “.”, если j-я кегля была сбита.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

In [ ]:
print('Rnter number of skittles: ', end = '')
Nkeg  = int(input())

print('Rnter number of Throws: ', end = '')
Kbros = int(input())

# Put the pins by generator - [выражение for переменная in последовательность]
skittles = ['I' for i in range(Nkeg)]
print('Skittles: ',' '.join(skittles), ', lenght a = ',len(skittles))


# lets play
for i in range(Kbros):
  print('Ball throw - ', i+1 ,' knocked the pins from: Left to Right: ', sep ='', end ='')
  
  hit = [int(s) for s in input().split(' ')]
  #print('hit = ', hit, ' li = ',hit[0], ', ri = ',hit[1],  sep ='')

  print('skittles from ', hit[0] ,' to ', hit[1], 'where knocked down')
  #skittles[hit[0] : hit[1]] = 

  for j in range(hit[0]-1, hit[1]):
    print('skittles[', j ,'] = ',skittles[j])
    skittles[j] = '.'
  print(' '.join(skittles))

print('-----------------------------------------------------------------')
print('Result of the game: ',' '.join(skittles))

Rnter number of skittles: 10
Rnter number of Throws: 3
Skittles:  I I I I I I I I I I , lenght a =  10
Ball throw - 1 knocked the pins from: Left to Right: 3 5
skittles from  3  to  5 where knocked down
skittles[ 2 ] =  I
skittles[ 3 ] =  I
skittles[ 4 ] =  I
I I . . . I I I I I
Ball throw - 2 knocked the pins from: Left to Right: 4 6
skittles from  4  to  6 where knocked down
skittles[ 3 ] =  .
skittles[ 4 ] =  .
skittles[ 5 ] =  I
I I . . . . I I I I
Ball throw - 3 knocked the pins from: Left to Right: 10 10
skittles from  10  to  10 where knocked down
skittles[ 9 ] =  I
I I . . . . I I I .
-----------------------------------------------------------------
Result of the game:  I I . . . . I I I .

### [Задача «Ферзи»](https://pythontutor.ru/lessons/lists/problems/lists_queens/)

**Условие**
* Известно, что на доске 8×8 можно расставить 8 ферзей так, чтобы они не били друг друга. 
* Вам дана расстановка 8 ферзей на доске, определите, есть ли среди них пара бьющих друг друга.

1. Программа получает на вход восемь пар чисел, каждое число от 1 до 8 — координаты 8 ферзей. 
1. Если ферзи не бьют друг друга, выведите слово NO, иначе выведите YES.

*Во всех задачах считывайте входные данные через input() и выводите ответ через print().*

[Задача о восьми ферзях / Математика на шахматной доске](https://forany.xyz/a-16?pg=11)
![Chess Board.jpg]()

In [ ]:
# Step 1 - create the Chess Board
cb = ['.'] * 64
qp = [int(0)] * 2
res = 'NO'
#print('Row:',row)
#col = [int(i) for i in range(1,8+1)]
#print('Col:',col)

print('-- Print Cheas Board --------------------------------------------')
print()
for c in range(0, 8):
  print(c+1,') ', sep ='', end ='' )
  for r in range(0, 8):
    print('[',  c * 8 + r ,'] = ', cb[ c * 8 + r ] , ' ', sep ='', end ='')
    #print(cb[ ( (c - 1) * 8 )  + r ] , ' ', sep ='', end ='')
    #print(  c * 8 + r   , ' ', sep ='', end ='')
  print()

print()
print('-- Load 8 Quins ------------------------------------------------')
'''
1 7
2 4
3 2
4 8
5 6
6 1
7 3
8 5

NO
'''
for i in range(1, 3 + 1):
  print('Load ',i, ' Queen (row col): ', sep = '', end ='')
  
  qp = [int(s) for s in input().split(' ')]  # load and digitize Queen position
  
  cb[ ( (qp[0] - 1) * 8 ) + qp[1] - 1 ] = 'Q'
  #print('qp[] = ', qp, 'Queen pos = ', ( (qp[0] - 1) * 8 ) + qp[1], )

print('-- Print Cheas Board --------------------------------------------')
print()
for c in range(0, 8):
  print(c+1,') ', sep ='', end ='' ) 
  for r in range(0, 8):
    print(cb[ c * 8 + r], ' ', sep ='', end ='')
  print()

# Step 2 - Detect fields under attack dor each Queen ***************************
# check # 1: The Q is alone in the row and col
# check # 2: The queen is alone on the diagonals

print()
for r in range(0, 8):
  #print(c+1,') ', sep ='', end ='' ) 
  for c in range(0, 8):
    #print(cb[ c * 8 + r], ' ', sep ='', end ='')
    if cb[ r * 8 + c] == 'Q':
      qp[0], qp[1] = r , c
      print('Quine pos = ', qp)

      # -- Check # 1: The Q is alone in the row and col -----------------
      # check Q is alone in the row
      for i in range(qp[0] * 8 + c + 1, 8):
        if cb[i] = 'Q':
          res = 'YES'

      # check Q is alone in the col
      for i in range(qp[0] + 1, 8):
        if cb[]

      # -----------------------------------------------------------------


  #print()
# check # 2: The queen is alone on the diagonals

-- Print Cheas Board --------------------------------------------

1) [0] = . [1] = . [2] = . [3] = . [4] = . [5] = . [6] = . [7] = .
2) [8] = . [9] = . [10] = . [11] = . [12] = . [13] = . [14] = . [15] = .
3) [16] = . [17] = . [18] = . [19] = . [20] = . [21] = . [22] = . [23] = .
4) [24] = . [25] = . [26] = . [27] = . [28] = . [29] = . [30] = . [31] = .
5) [32] = . [33] = . [34] = . [35] = . [36] = . [37] = . [38] = . [39] = .
6) [40] = . [41] = . [42] = . [43] = . [44] = . [45] = . [46] = . [47] = .
7) [48] = . [49] = . [50] = . [51] = . [52] = . [53] = . [54] = . [55] = .
8) [56] = . [57] = . [58] = . [59] = . [60] = . [61] = . [62] = . [63] = .

-- Load 8 Quins ------------------------------------------------
Load 1 Queen (row col): 1 7
Load 2 Queen (row col): 2 4
Load 3 Queen (row col): 3 2
-- Print Cheas Board --------------------------------------------

1) . . . . . . Q .
2) . . . Q . . . .
3) . Q . . . . . .
4) . . . . . . . .
5) . . . . . . . .
6) . . . . . . . .
7) . . . . . . . .
8) . . . . . . . .

Quine pos =  [0, 6]

Quine pos =  [1, 3]

Quine pos =  [2, 1]

# **[8. Функции и рекурсия](https://pythontutor.ru/lessons/functions/)**

## [1. Функции](https://pythontutor.ru/lessons/functions/#section_1)

[Текст ссылки](https://)

Напомним, что в математике факториал числа n определяется как n! = 1 ⋅ 2 ⋅ ... ⋅ n. Например, 5! = 1 ⋅ 2 ⋅ 3 ⋅ 4 ⋅ 5 = 120. Ясно, что факториал можно легко посчитать, воспользовавшись циклом for. Представим, что нам нужно в нашей программе вычислять факториал разных чисел несколько раз (или в разных местах кода). Конечно, можно написать вычисление факториала один раз, а затем используя Copy-Paste вставить его везде, где это будет нужно.

In [1]:
# вычислим 3!
res = 1
n = 3
for i in range(1, n + 1):
    res *= i
print(n,'! = ',res, sep ='')

# вычислим 5!
res = 1
n = 5
for i in range(1, n + 1):
    res *= i
print(n,'! = ',res, sep ='')

3! = 6

Функции — это такие участки кода, которые изолированы от остальный программы и выполняются только тогда, когда вызываются. Вы уже встречались с функциями sqrt(), len() и print(). Они все обладают общим свойством: они могут принимать параметры (ноль, один или несколько), и они могут возвращать значение (хотя могут и не возвращать). Например, функция sqrt() принимает один параметр и возвращает значение (корень числа). Функция print() принимает переменное число параметров и ничего не возвращает.

Покажем, как написать функцию factorial(), которая принимает один параметр — число, и возвращает значение — факториал этого числа.

In [3]:
def factrl(n):
  res = 1
  for i in range(1, n + 1):
    res *= i
  return res

n = 3
print(n,'! = ',factrl(n), sep ='')

n = 7
print(n,'! = ',factrl(n), sep ='')

3! = 6
7! = 5040

**Дадим несколько объяснений. **

* Во-первых, код функции должен размещаться в начале программы, вернее, до того места, где мы захотим воспользоваться функцией factorial(). 
* Первая строчка этого примера является описанием нашей функции. factorial — идентификатор, то есть имя нашей функции. 
* После идентификатора в круглых скобках идет список параметров, которые получает наша функция. 
* Список состоит из перечисленных через запятую идентификаторов параметров. В нашем случае список состоит из одной величины n. 
* В конце строки ставится двоеточие.

**Далее** 
* идет тело функции, оформленное в виде блока, то есть с отступом. 
* Внутри функции вычисляется значение факториала числа n и оно сохраняется в переменной res. 
* Функция завершается инструкцией **return** res, которая завершает работу функции и возвращает значение переменной res.

* Инструкция **return** может встречаться в произвольном месте функции, ее исполнение завершает работу функции и возвращает указанное значение в место вызова. 
* Если функция не возвращает значения, то инструкция **return** используется без возвращаемого значения. 
* В функциях, которым не нужно возвращать значения, инструкция **return** может отсутствовать.

In [ ]:
def max(a , b):
  if a > b:
    return 1
  else:
    return b

def max3(a, b, c):
  return max( max(a, b), c )

print(max(5, 77))
print(max(99, 101))
# print(max(int(input()), int(input())))

print(max3(1, 2, 3))

77
101
3

In [ ]:
# Встроенная функция max() в Питоне может принимать переменное число аргументов и возвращать максимум из них.
# Приведём пример того, как такая функция может быть написана.
# Все переданные в эту функцию параметры соберутся в один кортеж с именем a, на что указывает звёздочка в строке объявления функции.

def max(*a):
  res = a[0]
  for val in a[1:]:
    if val > res:
      res = val
  return res

print(max(1, 2, 3, 6, 8, 0, 7, 44, 0, 9, 76.5))

76.5

## **2. Локальные и глобальные переменные**
Внутри функции можно использовать переменные, объявленные вне этой функции

In [ ]:
def f():
  print(a)

# f()
a = 171
f()

# Такие переменные (объявленные вне функции, но доступные внутри функции) называются глобальными.

171

In [ ]:
# Но если инициализировать какую-то переменную внутри функции, 
# использовать эту переменную вне функции не удастся. Например:

def f():
  d = 1

f()

print(d)

# Получим ошибку NameError: name 'a' is not defined. 
# Такие переменные, объявленные внутри функции, называются локальными. 
# Эти переменные становятся недоступными после выхода из функции.

NameError: ignored

In [ ]:
# Интересным получится результат, если попробовать изменить значение глобальной переменной внутри функции:

def f():
  a = 1
  print('local var in func f(). val a =',a)

a = 0
f()
print('Global var a =',a)

 
# Будут выведены числа 1 и 0. 
# Несмотря на то, что значение переменной a изменилось внутри функции, вне функции оно осталось прежним!
# Это сделано в целях “защиты” глобальных переменных от случайного изменения из функции. 
#
# Например, если функция будет вызвана из цикла по переменной i, 
# а в этой функции будет использована переменная i также для организации цикла, то эти переменные должны быть различными. #
#
# Если вы не поняли последнее предложение, то посмотрите на следующий код и подумайте, 
# как бы он работал, если бы внутри функции изменялась переменная i.

local var in func f(). val a = 1
Global var a = 0

In [ ]:
# *******************************************************************************************
# Итак, если внутри функции модифицируется значение некоторой переменной, 
# то переменная с таким именем 
#   a) становится локальной переменной, 
#   b) и ее модификация не приведет к изменению глобальной переменной с таким же именем.
# *******************************************************************************************


def factorial(n):
  res = 1
  for i in range(1, n + 1):
    res *= i
  return res

for i in range(1, 10):
  print(i,'! = ', factorial(i), sep = '')

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880

In [ ]:
def f():
  #global a 
  #a = 2
  print(a)
  if False:
    a = 0

a = 1
f()

UnboundLocalError: ignored

## **3. Рекурсия**

Пример бесконечной рекурсии приведен в эпиграфе к этому разделу. Две наиболее распространенные причины для бесконечной рекурсии:

Неправильное оформление выхода из рекурсии. Например, если мы в программе вычисления факториала забудем поставить проверку if n == 0, то factorial(0) вызовет factorial(-1), тот вызовет factorial(-2) и т. д.
Рекурсивный вызов с неправильными параметрами. Например, если функция factorial(n) будет вызывать factorial(n), то также получится бесконечная цепочка.
Поэтому при разработке рекурсивной функции необходимо прежде всего оформлять условия завершения рекурсии и думать, почему рекурсия когда-либо завершит работу.

In [ ]:
def short_story():
  print("У попа была собака, он ее любил.")
  print("Она съела кусок мяса, он ее убил,")
  print("В землю закопал и надпись написал:")
  short_story()

# short_story();

In [ ]:
# 0! = 1, 
# 1! = 1
# n! = n ⋅ ( n-1 )!

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial( n - 1)

n = 5
print(n,'! = ',factorial(n), sep = '')

# Подобный прием (вызов функцией самой себя) называется рекурсией, 
# а сама функция называется рекурсивной.

5! = 120

## **ЗАДАЧИ**

### [**Задача «Длина отрезка**»](https://pythontutor.ru/lessons/functions/problems/length_of_segment/)

**Условие**
* Даны четыре действительных числа: x1, y1, x2, y2. 
* Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2). 

Считайте четыре действительных числа и выведите результат работы этой функции.

Если вы не знаете, как решить эту задачу, то вы, возможно, не изучали в школе теорему Пифагора. Попробуйте прочитать о ней на Википедии.