<a href="https://colab.research.google.com/github/ACoder-MAB/study01/blob/main/pythontutor_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вводная

## Ресурсы по теме
https://github.com/ACoder-MAB/study01.git

GitHub - ACoder-MAB / study01

### Работа с блокнотами в Colab
- [Общие сведения о Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Руководство для Markdown](/notebooks/markdown_guide.ipynb)
- [Импорт библиотек и установка зависимостей](/notebooks/snippets/importing_libraries.ipynb)
- [Сохранение и загрузка блокнотов в GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Интерактивные формы](/notebooks/forms.ipynb)
- [Интерактивные виджеты](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>
 [TensorFlow 2 в Colab](/notebooks/tensorflow_version.ipynb)

<a name="working-with-data"></a>
### Работа с данными
- [Загрузка данных: Диск, Таблицы и Google Cloud Storage](/notebooks/io.ipynb) 
- [Диаграмма: визуализация данных](/notebooks/charts.ipynb)
- [Начало работы с BigQuery](/notebooks/bigquery.ipynb)

### Экспресс-курс по машинному обучению
Вот несколько блокнотов из онлайн-курса по машинному обучению от Google. Ещё больше информации доступно на <a href="https://developers.google.com/machine-learning/crash-course/">сайте курса</a>.
- [Введение в pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Концепции TensorFlow](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [Начало работы с TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Введение в нейросети](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Введение в разреженные данные и встраивания](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

<a name="using-accelerated-hardware"></a>
### Использование ускорителей
- [TensorFlow с графическими процессорами](/notebooks/gpu.ipynb)
- [TensorFlow с TPU](/notebooks/tpu.ipynb)

# Занятие 1. Ввод и вывод данных

## Теория

Для печати значений в Питоне есть функция print(). Внутри круглых скобок через запятую мы пишем то, что хотим вывести. Вот программа, которая делает несколько вычислений:

разбор примеров с 
https://pythontutor.ru/lessons/inout_and_arithmetic_operations/

In [ ]:
print(5 + 10)
print(3 * 7, (17 - 2) * 8)
print(2 ** 16)                  # две звёздочки означают возведение в степень
print(37 / 3)                   # один слэш — это деление с ответом-дробью
print(37 // 3)                  # два слэша считают частное от деления нацело
                                # это как операция div в других языках
print(37 % 3)                   # процент считает остаток от деления нацело
                                # это как операция mod в других языках

print( "текст ", 3*7)

15
21 120
65536
12.333333333333334
12
1
текст  21

Для ввода данных в программу мы используем функцию input(). Она считывает одну строку.

Вот программа, которая считывает имя пользователя и приветствует его:

In [ ]:
print('Как вас зовут?')
name = input()            #read line and put it in to the var
print('Hello, ' + name + '!')

Как вас зовут?
1
Hello, 1!

In [ ]:
a = input()
b = input()
s = a + b
print(s)

a = int(a)
b = int(b)
s = a + b
print(s)

4
5
45
9

## Задачи

Условие
Напишите программу, которая считывает длины двух катетов в прямоугольном треугольнике и выводит его площадь. Каждое число записано в отдельной строке.

In [ ]:
print('Введите 1-й катет прям.уг. треугольника')
k1 = int(input())
print('Введите 2-й катет прям.уг. треугольника')
k2 = int(input())
s = 1/2 * k1 * k2
print('Полощадь треугольника =', s)

Введите 1-й катет прям.уг. треугольника
3
Введите 2-й катет прям.уг. треугольника
4
Полощадь треугольника = 6.0

# [Занятие 2. Условия](https://pythontutor.ru/lessons/ifelse/)

## Теория
Все ранее рассматриваемые программы имели линейную структуру: все инструкции выполнялись последовательно одна за одной, каждая записанная инструкция обязательно выполняется.

Допустим мы хотим по данному числу x определить его абсолютную величину (модуль). Программа должна напечатать значение переменной x, если x>0 или же величину -x в противном случае. Линейная структура программы нарушается: в зависимости от справедливости условия x>0 должна быть выведена одна или другая величина.

In [ ]:
x = int(input())
if x > 0:  
      print(x)
else:
      print(-x)

-99
99

In [ ]:
# неполное ветвление
x = int(input())
if x < 0:
    x = -x
print(x)

9
9

In [ ]:
# (n % 2 == 0) (остаток от деления n на 2 равен 0)
# Пример. Проверим, что хотя бы одно из чисел a или b оканчивается на 0:

a = int(input())
b = int(input())
if a % 10 == 0 or b % 10 == 0:
    print('YES')
else:
    print('NO')

100
1
YES

## Задачи

In [ ]:
# Даны два целых числа. Выведите значение наименьшего из них.
a = int(input())
b = int(input())

if a > b:
  print(a)
else:
  print(b)

-10
-99
-10

In [ ]:
# Списки
int_list = [3,4,5]
hg_list = ["строка", 0.1, True]
list_of_lists = [int_list, hg_list, []]
print(int_list)
print(hg_list)
print(list_of_lists)

for i in

[3, 4, 5]
['строка', 0.1, True]
[[3, 4, 5], ['строка', 0.1, True], []]
3
12

**[Посчитать количество одинаковых элементов в списке](https://younglinux.info/python/task/list-dict)**

In [ ]:
""" ВЕРНУТЬСЯ к примеру и разобрать!!! """
def fill_list(m1, m2, amount, l):
    from random import randint
    for i in range(amount):
        l.append(randint(m1, m2))
 
 
def analysis(your_list, your_dict):
    for i in your_list:
        if i in your_dict:
            your_dict[i] += 1
        else:
            your_dict[i] = 1
 
 
lst = []
dct = {}
 
mn = int(input('Минимум: '))
mx = int(input('Максимум: '))
qty = int(input('Количество элементов: '))
 
fill_list(mn, mx, qty, lst)
analysis(lst, dct)
 
for item in sorted(dct):
    print("'%d':%d" % (item, dct[item]))

Минимум: 50
Максимум: 70
Количество элементов: 33
'51':3
'52':1
'53':1
'54':4
'57':2
'59':2
'60':1
'61':1
'62':1
'63':3
'64':3
'65':4
'66':1
'67':2
'68':1
'70':3

# [Занятие 3. Вычисления](https://pythontutor.ru/lessons/int_and_float/)

## Целочисленная арифметика
Для целых чисел определены операции: +, -, * и **. 
Операция деления / для целых чисел возвращает вещественное число (значение типа float). 
Также функция возведения в степень возвращает значение типа float, если показатель степени — отрицательное число.

Но есть и специальная операция целочисленного деления, выполняющегося с отбрасыванием дробной части, которая обозначается // (она соответствует операции div в Паскале). Она возвращает целое число: целую часть частного. 

Другая близкая ей операция − это операция взятия остатка от деления, обозначаемая % (она соответствует операции mod в Паскале). Например:

In [ ]:
print(17  / 3)    
print(17 // 3)    # целочисленного деления, выполняющегося с отбрасыванием дробной части
print( 17 % 3)    # взятия остатка от деления, обозначаемая % (она соответствует операции mod в Паскале)

5.666666666666667
5
2

In [ ]:
# Действительные числа
# В этом разделе речь пойдет о действительных числах, имеющих тип float.
x = float(input())
print(x)

5
5.0

In [ ]:
# Библиотека math

import math

# округлять вещественные числа до ближайшего целого числа вверх.
x = math.ceil(4.2)
print(x)
print(math.ceil(4.8))
print(math.pi)

5
5
3.141592653589793

In [ ]:
from math import ceil
print(ceil(7/2))
# print(pi)

4

## TASKS

```python
print(5 + 10)
print(3 * 7, (17 - 2) * 8)
print(2 ** 16)  # две звёздочки означают возведение в степень
print(37 / 3)   # один слэш — это деление с ответом-дробью
print(37 // 3)  # два слэша считают частное от деления нацело, это как операция div в других языках
print(37 % 3)   # процент считает остаток от деления нацело - это как операция mod в других языках
```

In [ ]:
# Дано натуральное число. Выведите его последнюю цифру.
# % процент считает остаток от деления нацело - это как операция mod в других языках

x = int(input())
print(x % 10)

67
7

In [ ]:
''' Условие
      Длина Московской кольцевой автомобильной дороги — 109 километров. 
      Байкер Вася стартует с нулевого километра МКАД и едет со скоростью v километров в час. 
      На какой отметке он остановится через t часов?

Программа получает на вход значение v и t. Если v>0, то Вася движется в положительном направлении по МКАД, если же значение v<0, то в отрицательном.
Программа должна вывести целое число от 0 до 108 — номер отметки, на которой остановится Вася.
'''
m = 109    # Длина Московской кольцевой автомобильной дороги — 109 километров

print('Enter Velocity:')
v = int(input())

print('Enter Time in road:')
t = int(input())

if v > 0:      # v>0, то Вася движется в положительном направлении по МКАД
  s = v*t % m  # остаток от деления нацело кол-ва кругов по МКАД
else:
  s = 109 - abs(v)*t % m

print('The Biker stops on mark:',s,'km')

Enter Velocity: %v
-60
Enter Time in road:
4
The Biker stops on mark: 87 km

In [ ]:
# Условие:   Дано положительное действительное число X. Выведите его дробную часть.

x = float(input())
print( round( x % 1, 4))         # Остаток от деления на единицу, даст нужный результат

19.99
0.99

> [Задача «Первая цифра после точки»](https://pythontutor.ru/lessons/int_and_float/problems/digit_after_separator/)

In [ ]:
# Условие: Дано положительное действительное число X. Выведите его первую цифру после десятичной точки.

x = float(input())
print(int(x * 10) % 10)

1.79
7

> [Задача «Конец уроков»](https://pythontutor.ru/lessons/int_and_float/problems/konec_urokov/)

**Условие:**
* В некоторой школе занятия начинаются в 9:00. 
* Продолжительность урока — 45 минут, 
* после 1-го, 3-го, 5-го и т.д. уроков перемена 5 минут, 
* а после 2-го, 4-го, 6-го и т.д. — 15 минут.

**ВОПРОС:**
Дан номер урока (число от 1 до 10). 
* Определите, когда заканчивается указанный урок.
* Выведите два целых числа: время окончания урока в часах и минутах.

In [ ]:
# РЕШЕНИЕ

less_dur      = 45    # Продолжительность 1 урока      = 45 мин
turn_even_dur = 15    # Перемена после четного урока   = 15 мин
turn_odd_dur  =  5    # перемена после нечетного урока =  5 мин

print('-------------------------------------------------------')
print('Enter lesson number (from 1 to 10):')
num_less = int(input())

print('Duration of All Lessons:',num_less *  45)
print('Number of turns:' ,num_less - 1)
print('-------------------------------------------------------')
num_odd_turns  =   ( (num_less - 1) - ( (num_less - 1) // 2 ) ) # кол-во Нечетных перемен
num_even_turns =   (num_less - 1) // 2                          # кол-во четных перемен
print('Num of Odd Turns',  num_odd_turns )          
print('Num of Even Turns', num_even_turns)                                 
print('-------------------------------------------------------')
total_les_tutn_dur = (num_less *  45 + num_odd_turns * 5 + num_even_turns * 15)
les_end_time_hr  =  9 + total_les_tutn_dur // 60                # 9 + длительность уроков и перемен в часах
les_end_time_min =  total_les_tutn_dur  % 60                    # остаток длительности в минутах
print('Lesson',num_less,'Ends at ',  les_end_time_hr, ':', les_end_time_min)
print('-------------------------------------------------------')

Enter lesson number (from 1 to 10):
5
Duration of All Lessons: 225
Number of turns: 4
-------------------------------------------------------
Num of Odd Turns 2
Num of Even Turns 2
-------------------------------------------------------
Lesson 5 Ends at  13 : 25

In [ ]:
# Типовые примеры деления
print('Деление 1/2 - Обычное деление', 1 / 2 , ', // Частное от деления нацело(div)', 1 // 2 , ', % Остаток от деления нацело (mod)', 1 % 2 )
print('Деление 2/2 - Обычное деление', 2 / 2 , ', // Частное от деления нацело(div)', 2 // 2 , ', % Остаток от деления нацело (mod)', 2 % 2 )
print('Деление 3/2 - Обычное деление', 3 / 2 , ', // Частное от деления нацело(div)', 3 // 2 , ', % Остаток от деления нацело (mod)', 3 % 2 )
print('Деление 4/2 - Обычное деление', 4 / 2 , ', // Частное от деления нацело(div)', 4 // 2 , ', % Остаток от деления нацело (mod)', 4 % 2 )
print('Деление 5/2 - Обычное деление', 5 / 2 , ', // Частное от деления нацело(div)', 5 // 2 , ', % Остаток от деления нацело (mod)', 5 % 2 )
print('Деление 6/2 - Обычное деление', 6 / 2 , ', // Частное от деления нацело(div)', 6 // 2 , ', % Остаток от деления нацело (mod)', 6 % 2 )
print('Деление 77/2 - Обычное деление', 77 / 2 , ', // Частное от деления нацело(div)', 77 // 2 , ', % Остаток от деления нацело (mod)', 77 % 2 )

Деление 1/2 - Обычное деление 0.5 , // Частное от деления нацело(div) 0 , % Остаток от деления нацело (mod) 1
Деление 2/2 - Обычное деление 1.0 , // Частное от деления нацело(div) 1 , % Остаток от деления нацело (mod) 0
Деление 3/2 - Обычное деление 1.5 , // Частное от деления нацело(div) 1 , % Остаток от деления нацело (mod) 1
Деление 4/2 - Обычное деление 2.0 , // Частное от деления нацело(div) 2 , % Остаток от деления нацело (mod) 0
Деление 5/2 - Обычное деление 2.5 , // Частное от деления нацело(div) 2 , % Остаток от деления нацело (mod) 1
Деление 6/2 - Обычное деление 3.0 , // Частное от деления нацело(div) 3 , % Остаток от деления нацело (mod) 0
Деление 77/2 - Обычное деление 38.5 , // Частное от деления нацело(div) 38 , % Остаток от деления нацело (mod) 1

> [Задача «Автопробег»](https://pythontutor.ru/lessons/int_and_float/problems/motor_rally/)

**Условие**
* За день машина проезжает n километров. 

**ВОПРОС** 
* Сколько дней нужно, чтобы проехать маршрут длиной m километров? 
* Программа получает на вход числа n и m.

In [ ]:
from math import ceil 

day_dist  = int(input())
full_road = int(input())
print('------------------------')

print('Car need to drive', ceil(full_road / day_dist))

700
2100
------------------------
Car need to drive 3

> [Задача «Автопробег»](https://pythontutor.ru/lessons/int_and_float/problems/motor_rally/)

**Условие**
* За день машина проезжает n километров. 

**ВОПРОС** 
* Сколько дней нужно, чтобы проехать маршрут длиной m километров? 
* Программа получает на вход числа n и m.

In [ ]:
from math import ceil 

day_dist  = int(input())
full_road = int(input())
print('------------------------')

print('Car need to drive', ceil(full_road / day_dist))

700
2100
------------------------
Car need to drive 3

[Задача «Стоимость покупки»](https://pythontutor.ru/lessons/int_and_float/problems/purchase_price/)

**Условие**
* Пирожок в столовой стоит a рублей и b копеек. 
* Определите, сколько рублей и копеек нужно заплатить за n пирожков. 

* Программа получает на вход три числа: a, b, n, 
* и должна вывести два числа: стоимость покупки в рублях и копейках.

In [ ]:
print('Enter Price in Rub:')
r = int(input())                    # Пирожок в столовой стоит r(a) рублей
print('Enter Price in kops:')
k = int(input())                    # ... и k(b) копеек.
print('Enter number of Pie:')
pn = int(input())                   # Кол-во Пирожоков
print('------------------------------------------------------')
Price_rub = pn*r + pn*k // 100
Price_kop = pn*k % 100
print('Total Price od Pies:', Price_rub, 'Rubs,', Price_kop, 'kops')
print('------------------------------------------------------')

Enter Price in Rub:
2029
Enter Price in kops:
34
Enter number of Pie:
1848
------------------------------------------------------
Total Price od Pies: 3750220 Rubs, 32 kops
------------------------------------------------------

# Занятие 4. Цикл for
* Цикл for, также называемый циклом с параметром, в языке Питон богат возможностями. 
* В цикле for указывается переменная и множество значений, по которому будет пробегать переменная. 
* Множество значений может быть задано списком, кортежем, строкой или диапазоном.

In [ ]:
# Вот простейший пример использования цикла, где в качестве множества значений используется кортеж:
i = 1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
  print('#', i, ' color of rainbow is ', color, sep = '')   # sep – это разделитель, используемый при печати несколькими значениями. По умолчанию используется пробел ( sep=' ' )
  i += 1                                                    # Инструкция i += 1 эквивалентна конструкции i = i + 1 (это просто сокращенная запись). 
                                                            # Такую сокращенную запись можно использовать для всех арифметических операций: *=, -=, /=, %=...

#1 color of rainbow is red
#2 color of rainbow is orange
#3 color of rainbow is yellow
#4 color of rainbow is green
#5 color of rainbow is cyan
#6 color of rainbow is blue
#7 color of rainbow is violet

In [ ]:
for i in 1, 2, 3, 'one', 'two', 'three':
  print(i)                                    # При первых трех итерациях цикла переменная i будет принимать значение типа int, при последующих трех — типа str

1
2
3
one
two
three

### **2. Функция range**
* Как правило, циклы for используются либо для повторения какой-либо последовательности действий заданное число раз, либо для изменения значения переменной в цикле от некоторого начального значения до некоторого конечного.

Для повторения цикла некоторое заданное число раз n можно использовать цикл for вместе с функцией range:

In [ ]:
print('------------------------------------------------------')
for i in range(7):    # равносильно инструкции for i in 0, 1, 2, 3:
  # здесь можно выполнять циклические действия
  print('Loop index=', i, ', i**2=', i ** 2, sep = ''  )
# цикл закончился, поскольку закончился блок с отступом
print('------------------------------------------------------')
print('End loop...')

------------------------------------------------------
Loop index=0, i**2=0
Loop index=1, i**2=1
Loop index=2, i**2=4
Loop index=3, i**2=9
Loop index=4, i**2=16
Loop index=5, i**2=25
Loop index=6, i**2=36
------------------------------------------------------
End loop...

In [ ]:
sum = 0
n   = 5
for i in range(1, n + 1):           # Вызов range(a, b) означает, что индексная переменная будеть принимать значения от a до b - 1
  print(i)
  sum += i
print('------------------------------------------------------')
print(sum)

1
2
3
4
5
------------------------------------------------------
15

'''
'''

In [ ]:
'''
В этом примере переменная i принимает значения 1, 2, ..., n, и значение переменной sum последовательно увеличивается на указанные значения.

Наконец, чтобы организовать цикл, в котором индексная переменная будет уменьшаться, необходимо использовать функцию range с тремя параметрами. 
   Первый параметр задает начальное значение индексной переменной, 
   второй параметр — значение, до которого будет изменяться индексная переменная (не включая его!), а 
   третий параметр — величину изменения индексной переменной. Например, сделать цикл по всем нечетным числам от 1 до 99 можно при помощи функции range(1, 100, 2), а сделать цикл по всем числам от 100 до 1 можно при помощи range(100, 0, -1).

Более формально, цикл for i in range(a, b, d) при d > 0 задает значения индексной переменной i = a, i = a + d, i = a + 2 * d и так для всех значений, для которых i < b. Если же d < 0, то переменная цикла принимает все значения i > b
'''

for i in range(1, 100, 2):
  print(i)
print('End loop --------------------')

for i in range(100, 1, -1):
  print(i)
print('End loop --------------------')

### **3. Настройка функции print()**
* По умолчанию функция print() принимает несколько аргументов, выводит их через пробел, после чего ставит перевод строки. 
* Это поведение можно изменить, используя именованные параметры sep (разделитель) и end (окончание).

In [ ]:
print(1, 2, 3)
print(4, 5, 6)
print(1, 2, 3, sep=', ', end='. ')
print(4, 5, 6, sep=', ', end='. ')
print()
print(1, 2, 3, sep='', end=' -- ')
print(4, 5, 6, sep=' * ', end='.')
print()
# ----------------------------------------
print('Enter number: ', sep = '', end = '')
x = int(input())

1 2 3
4 5 6
1, 2, 3. 4, 5, 6.
123 -- 4 * 5 * 6.
Enter number: 44

## Задачи

In [ ]:
# Условие: Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A до B включительно.
a = int(input())
b = int(input())
print('------------------------------------')
for i in range(a,b+1):
  print(i)
print('------------------------------------')

20
20
------------------------------------
20
------------------------------------

### [Задача «Ряд - 2»](https://pythontutor.ru/lessons/for_loop/problems/series_2/)

**Условие**
* Даны два целых числа A и В. 
* Выведите все числа от A до B включительно, 
* в порядке возрастания, если A < B, 
* или в порядке убывания в противном случае.

In [ ]:
print('------------------------------------')
print('Enter a: ', sep = '', end = '')
a = int(input())
print('Enter b: ', sep = '', end = '')
b = int(input())
print('------------------------------------')
if a < b:
  d = 1
  b += 1
  print('a < b - range(a = ',a,', b = ',b,', d = ', d,')', sep = '')
else:
  d = -1
  b -= 1
  print('a > b - range(a = ',a,', b = ',b,', d = ', d,')', sep = '')
print('------------------------------------')
for i in range(a, b, d):
  print(i)
print('------------------------------------')

------------------------------------
Enter a: -3
Enter b: -7
------------------------------------
a > b - range(a = -3, b = -8, d = -1)
------------------------------------
-3
-4
-5
-6
-7
------------------------------------

### [Задача «Ряд - 3»](https://pythontutor.ru/lessons/for_loop/problems/series_3/)**

**Условие**
* Даны два целых числа A и В, A>B. 
* Выведите все нечётные числа от A до B включительно, в порядке убывания. 
* !!! - В этой задаче можно обойтись без инструкции if.

In [ ]:
a = -18   # int(input())
b = -29   # int(input())
near_less_odd = a - 1 + (a % 2)   # ближайшее меньшее нечетное
d = -2
print('------------------------------------')
print('A = ', a ,', near_less_odd = ',near_less_odd, sep = '')
print('B = ',b, sep = '')
print('A > B: range(a = ',near_less_odd,', b = ',b-1,', d = ', d,')', sep = '')
print('------------------------------------')

for i in range(near_less_odd, b-1, d):
  # print(i, i // 2, i % 2)
  print(i)

------------------------------------
A = -18, near_less_odd = -19
B = -29
A > B: range(a = -19, b = -30, d = -2)
------------------------------------
-19
-21
-23
-25
-27
-29

### [**Задача «Сумма десяти чисел»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_ten_numbers/)

**Условие**
* Дано 10 целых чисел. Вычислите их сумму. 
* Напишите программу, использующую наименьшее число переменных.

In [ ]:
vsum = 0  # init val of sum var
lcnt = 0  # init val of loop cnt 
#for vint in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9):
#for vint in (1, 1, 1, 1, 1, 1, 1, 1, 1, 1):
for vint in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
  vsum += vint
  lcnt += 1
print('Summ of ',lcnt,'\'s vars = ',vsum, sep = '')

Summ of 11's vars = 55

### [**Задача «Сумма N чисел»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_n_numbers/)
**Условие**
* Дано несколько чисел.  Вычислите их сумму. 
* Сначала вводите количество чисел N, 
* затем вводится ровно N целых чисел. 

* Какое наименьшее число переменных нужно для решения этой задачи?

In [ ]:
num_vars  = 0   # number of vars
tot_sum   = 0   # total sum of vars
cur_var   = 0   # current var
print('----------------------------------------')
print('Input Number of Vars: ', sep = '', end = '')
num_vars = int(input())
print()
print('----------------------------------------')
for i in range(1, num_vars+1, 1):
  print('Input value of var[',i,']: ',sep = '', end = '')
  cur_var = int(input())
  tot_sum += cur_var
print('----------------------------------------')
print('Summ of ',num_vars,'\'s vars euals = ',tot_sum, sep = '')

----------------------------------------
Input Number of Vars: 10

----------------------------------------
Input value of var[1]: -1
Input value of var[2]: -2
Input value of var[3]: -3
Input value of var[4]: -4
Input value of var[5]: -5
Input value of var[6]: -6
Input value of var[7]: -7
Input value of var[8]: -9
Input value of var[9]: -8
Input value of var[10]: 0
----------------------------------------
Summ of 10's vars euals = -45

### [**Задача «Сумма кубов»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_cubes/)

**Условие**
* По данному натуральному n вычислите сумму: $1^3 + 2^3 + ... + n^3$

In [ ]:
print('Input a lenghthr of list range: ', sep = '', end = '')
lv = int(input())
# print()
sq = 0 # init val of summ of cubes
print('----------------------------------------')
for i in range(1, lv +1, 1):
  sq += i*i*i
  print(i, '^3 = ', i*i*i, '; Summ of ',i,' cubes = ', sq, sep = '') 
print('----------------------------------------')
print('Summ of all cubes = ', sq, sep = '')

Input a lenghthr of list range: 3
----------------------------------------
1^3 = 1; Summ of 1 cubes = 1
2^3 = 8; Summ of 2 cubes = 9
3^3 = 27; Summ of 3 cubes = 36
----------------------------------------
Summ of all cubes = 36

### [Задача «Факториал»](https://pythontutor.ru/lessons/for_loop/problems/factorial)

**Условие**
* Факториалом числа n называется произведение 1 × 2 × ... × n. Обозначение: n!.
* По данному натуральному n вычислите значение n!. 
* ***Пользоваться математической библиотекой math в этой задаче запрещено.***

In [ ]:
f_range  = 0 # Factorial!
f_val    = 1 # init val of factorial
print('To calc Factorial(N!) Input N: ', sep = '', end = '')
f_range = int(input())
print('----------------------------------------')
for i in range(1, f_range + 1, 1):
  f_val *= i
print('Factorial (',f_range,'!) = ', f_val, sep = '')

To calc Factorial(N!) Input N: 4
----------------------------------------
Factorial (4!) = 24

### [**Задача «Сумма факториалов»**](https://pythontutor.ru/lessons/for_loop/problems/sum_of_factorials/)

**Условие**
* По данному натуральном n вычислите сумму 1!+2!+3!+...+n!. 
* В решении этой задачи можно использовать только один цикл. 
* **Пользоваться математической библиотекой math в этой задаче запрещено.**

In [ ]:
n          = 0    # range of function
cur_fct    = 1    # current factorial
sum_fct    = 0    # summ of factorialc

print('*******  Calculation summ of factorials: 1!+2!+3!+...+n!  *******', sep = '')
print('Input n: ', sep = '', end = '')
n = int(input())
print('----------------------------------------')

for i in range(1, n + 1, 1):
  cur_fct  *= i
  sum_fct  += cur_fct
  print('Factorial of ',i,'! = ', cur_fct, '; Summ of ',i,' factorials = ', sum_fct, sep = '')

print('Summ of ',i,' factorials = ', sum_fct, sep = '')

*******  Calculation summ of factorials: 1!+2!+3!+...+n!  *******
Input n: 4
----------------------------------------
Factorial of 1! = 1; Summ of 1 factorials = 1
Factorial of 2! = 2; Summ of 2 factorials = 3
Factorial of 3! = 6; Summ of 3 factorials = 9
Factorial of 4! = 24; Summ of 4 factorials = 33
Summ of 4 factorials = 33

### [Задача «Количество нулей»](https://pythontutor.ru/lessons/for_loop/problems/how_many_zeroes/)

**Условие**
* Дано N чисел: 
* сначала вводится число N, 
* затем вводится ровно N целых чисел. 

Подсчитайте количество нулей среди введенных чисел и выведите это количество. Вам нужно подсчитать количество чисел, равных нулю, а не количество цифр.

In [ ]:
print('Enter number of N\'s: ', sep = '', end = '')

n = int(input())
sumz = 0
print('----------------------------------------')

for i in range(1, n + 1, 1):
  print('Input [',i,'] number: ',sep = '', end = '')
  x = int(input())
  if x == 0:
    sumz += 1
print('----------------------------------------')
print('Number of Zero\'s are: ', sumz, sep = '')

Enter number of N's: 10
----------------------------------------
Input [1] number: 0
Input [2] number: 4
Input [3] number: 1
Input [4] number: -7
Input [5] number: 0
Input [6] number: 4
Input [7] number: 5
Input [8] number: 1
Input [9] number: 0
Input [10] number: 0
----------------------------------------
Number of Zero's are: 4

### [Задача «Лесенка»](https://pythontutor.ru/lessons/for_loop/problems/ladder/)

**Условие**
* По данному натуральному n ≤ 9 выведите лесенку из n ступенек, 
* i-я ступенька состоит из чисел от 1 до i без пробелов.

In [ ]:
print('Enter number of steps :',sep = '', end = '')
n = int(input())
print('----------------------------------------')

for i in range(1, n + 1, 1):
  for j in range(1, i + 1, 1):
    print(j, sep = '', end = '')
  print()

Enter number of steps :7
----------------------------------------
1
12
123
1234
12345
123456
1234567

### [Задача «Потерянная карточка»](https://pythontutor.ru/lessons/for_loop/problems/lost_card/)

**Условие**
* Для настольной игры используются карточки с номерами от 1 до N. 
* Одна карточка потерялась. 
* Найдите ее, зная номера оставшихся карточек.
* Дано число N, далее N − 1 номер оставшихся карточек (различные числа от 1 до N). 
* Программа должна вывести номер потерянной карточки.

Для самых умных: массивами и аналогичными структурами данных пользоваться нельзя.

In [ ]:
print('Input Number of cards (1..N): ', sep = '', end = '')
n            = int(input())
missing_card = 0            
print('----------------------------------------')

for i in range(1, n+1, 1):
  missing_card     += i     # summ o all cards in range

print('Sum of [',n,'] cards equals =',missing_card, sep = '')

for i in range(1, n, 1):
  print('Input number of Card that present in the range (1..',n,'): ', sep = '', end = '')
  missing_card -= int(input())
  
print('----------------------------------------')
print('Mmissing card is -',missing_card)

Input Number of cards (1..N): 3
----------------------------------------
Sum of [3] cards equals =6
Input number of Card that present in the range (1..3): 3
Input number of Card that present in the range (1..3): 1
----------------------------------------
Mmissing card is - 2

# [**Занятие 5. Строки**](https://pythontutor.ru/lessons/str/)

## **1. Строки**

Строка считывается со стандартного ввода функцией **input()**. Напомним, что для двух строк определена операция сложения (конкатенации), также определена операция умножения строки на число.

Строка состоит из последовательности символов. Узнать количество символов (длину строки) можно при помощи функции **len**.

Любой другой объект в Питоне можно перевести к строке, которая ему соответствует. Для этого нужно вызвать функцию **str()**, передав ей в качестве параметра объект, переводимый в строку.

* На самом деле каждая строка, с точки зрения Питона, — это объект класса str. * Чтобы получить по объекту другой объект другого класса, как-то ему соответствующий, можно использовать функцию приведения. 
* Имя этой функции совпадает с именем класса, к которому мы приводим объект. (Для знатоков: эта функция — это конструктор объектов данного класса.) 
* **Пример**: int — класс для целых чисел. Перевод строки в число осуществляется функцией int().

In [ ]:
s = input()
print('Length of string \"',s,'\" is ',len(s), sep = '')

t = input()
number = int(t)

u = str(number)

print(s * 3)
print(s + ' ' + u)

qaz
Length of string "qaz" is 3
57
qazqazqaz
qaz 57

## **2. Срезы (slices)**
Срез (slice) — извлечение из данной строки одного символа или некоторого фрагмента подстроки или подпоследовательности.

Есть три формы срезов. 
* Самая простая форма среза: взятие одного символа строки, а именно, S[i] — это срез, состоящий из одного символа, который имеет номер i. При этом считается, что нумерация начинается с числа 0. То есть если S = 'Hello', то S[0] == 'H', S[1] == 'e', S[2] == 'l', S[3] == 'l', S[4] == 'o'.

Заметим, что в Питоне нет отдельного типа для символов строки. Каждый объект, который получается в результате среза S[i] — это тоже строка типа str.
Номера символов в строке (а также в других структурах данных: списках, кортежах) называются индексом.

* Если указать отрицательное значение индекса, то номер будет отсчитываться с конца, начиная с номера -1. То есть S[-1] == 'o', S[-2] == 'l', S[-3] == 'l', S[-4] == 'e', S[-5] == 'H'.

**Или в виде таблицы:**

Строка S	|H	 |e	|l	|l	|o
----------|----|--|--|--|--
Индекс	  |S[0]	|S[1]	|S[2]	|S[3]	|S[4] 
Индекс	  |S[-5]	|S[-4]	|S[-3]	|S[-2]	|S[-1]

Если же номер символа в срезе строки S больше либо равен len(S), или меньше, чем -len(S), то при обращении к этому символу строки произойдет ошибка IndexError: string index out of range.

* **Срез с двумя параметрами:** S[a:b] возвращает подстроку из b - a символов, начиная с символа c индексом a, то есть до символа с индексом b, не включая его. Например, S[1:4] == 'ell', то же самое получится если написать S[-4:-1]. Можно использовать как положительные, так и отрицательные индексы в одном срезе, например, S[1:-1] — это строка без первого и последнего символа (срез начинается с символа с индексом 1 и заканчиватеся индексом -1, не включая его).

При использовании такой формы среза ошибки IndexError никогда не возникает. Например, срез S[1:5] вернет строку 'ello', таким же будет результат, если сделать второй индекс очень большим, например, S[1:100] (если в строке не более 100 символов).

Если опустить второй параметр (но поставить двоеточие), то срез берется до конца строки. Например, чтобы удалить из строки первый символ (его индекс равен 0), можно взять срез S[1:]. Аналогично если опустить первый параметр, то можно взять срез от начала строки. То есть удалить из строки последний символ можно при помощи среза S[:-1]. Срез S[:] совпадает с самой строкой S.

Любые операции среза со строкой создают новые строки и никогда не меняют исходную строку. В Питоне строки вообще являются неизменяемыми, их невозможно изменить. Можно лишь в старую переменную присвоить новую строку.

На самом деле в питоне нет и переменных. Есть лишь имена, которые связаны с какими-нибудь объектами. Можно сначала связать имя с одним объектом, а потом — с другим. Можно несколько имён связать с одним и тем же объектом.

Если задать срез с тремя параметрами S[a:b:d], то третий параметр задает шаг, как в случае с функцией range, то есть будут взяты символы с индексами a, a + d, a + 2 * d и т. д. При задании значения третьего параметра, равному 2, в срез попадет кажый второй символ, а если взять значение среза, равное -1, то символы будут идти в обратном порядке. Например, можно перевернуть строку срезом S[::-1].

In [ ]:
s = 'AbcdefG'

print(s[1])
print(s[-1])
print(s[1:3])
print(s[1:-1])
print(s[:3])
print(s[2:])
print(s[:-1])

print(s[::2])
print(s[::-1])

print(s[1::2])

b
G
bc
bcdef
Abc
cdefG
Abcdef
AceG
GfedcbA
bdf

In [ ]:
# Обратите внимание на то, как похож третий параметр среза на третий параметр функции range():

s = 'AbCdEfGhIjKlM'

print(s[0:10:2])

for i in range(0, 10 , 2):
  print(i, s[i])

ACEGI
0 A
2 C
4 E
6 G
8 I

## **3. Методы**
* Метод — это функция, применяемая к объекту, в данном случае — к строке. 
* Метод вызывается в виде Имя_объекта.Имя_метода(параметры). 
* Например, S.find("e") — это применение к строке S метода find с одним параметром "e".

### **3.1. Методы find и rfind**

* Метод find находит в данной строке (к которой применяется метод) данную подстроку (которая передается в качестве параметра). 
* Функция возвращает индекс первого вхождения искомой подстроки. 
* Если же подстрока не найдена, то метод возвращает значение -1.

In [ ]:
s = 'Hello'

print(s.find('e'))    # return 1

print(s.find('l'))   # return 2
print(s.find('L'))    # return -1

# метод rfind возвращает индекс последнего вхождения данной строки (“поиск справа”).
print(s.rfind('l'))   # return 3

'''
Если вызвать метод find с тремя параметрами S.find(T, a, b), то поиск будет осуществляться в срезе S[a:b]. 
Если указать только два параметра S.find(T, a), то поиск будет осуществляться в срезе S[a:], то есть начиная с символа с индексом a и до конца строки. 
Метод S.find(T, a, b) возращает индекс в строке S, а не индекс относительно среза.
'''

1
2
-1
3

### 3.2. Метод replace

* Метод replace заменяет все вхождения одной строки на другую. 
* Формат: S.replace(old, new) — заменить в строке S все вхождения подстроки old на подстроку new.

In [ ]:
s = 'Hello'

print(s.replace('l','L'))

# Если методу replace задать еще один параметр: S.replace(old, new, count), 
# то заменены будут не все вхождения, а только не больше, чем первые count из них.

print(s.replace('l','L',1))

print('Abrakadabra'.replace('a', 'A', 1))
# вернёт 'AbrAkAdabra'

HeLLo
HeLlo
AbrAkadabra

### 3.3. Метод count
```python
* Подсчитывает количество вхождений одной строки в другую строку. 
* Простейшая форма вызова S.count(T)  возвращает число вхождений строки T внутри строки S. 
* При этом подсчитываются только непересекающиеся вхождения print(('a' * 10).count('aa'))
```

In [ ]:
print('Abrakadabra'.count('a'))

print(('a' * 10))
print(('a' * 10).count('aa'))

4
aaaaaaaaaa
5

## **Задачи**

### [Задача «Делаем срезы»](https://pythontutor.ru/lessons/str/problems/slices/)

**Условие**
* Дана строка.
* Сначала выведите третий символ этой строки.
* Во второй строке выведите предпоследний символ этой строки.
* В третьей строке выведите первые пять символов этой строки.
* В четвертой строке выведите всю строку, кроме последних двух символов.
* В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).

* В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.

* В седьмой строке выведите все символы в обратном порядке.

* В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.

* В девятой строке выведите длину данной строки.

In [ ]:
s = 'Abrakadabra'

print(s[3])       # Сначала выведите третий символ этой строки.
print(s[-2])      # Во второй строке выведите предпоследний символ этой строки.
print(s[:5])      # В третьей строке выведите первые пять символов этой строки.
print(s[:-2])     # В четвертой строке выведите всю строку, кроме последних двух символов.

print(s[::2])     # В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).
print(s[1::2])     # В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.
print(s[::-1])      # В седьмой строке выведите все символы в обратном порядке.
print(s[::-2])      # В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.
print(len(s))      # В девятой строке выведите длину данной строки.

a
r
Abrak
Abrakadab
Arkdba
baaar
arbadakarbA
abdkrA
11

### [Задача «Количество слов»](https://pythontutor.ru/lessons/str/problems/num_words/)

**Условие**
* Дана строка, состоящая из слов, разделенных пробелами. 
* Определите, сколько в ней слов. Используйте для решения задачи метод count.

In [ ]:
s = 'Hello World'
s = 'One two three four five'

print('In string "',s ,'" are - ',s.count(' ')+1, ' words', sep = '')

In string "One two three four five" are - 5 words

### [Задача «Две половинки»](https://pythontutor.ru/lessons/str/problems/two_halves/)

**Условие**
* Дана строка. 
* Разрежьте ее на две равные части (если длина строки — четная, а если длина строки нечетная, то длина первой части должна быть на один символ больше). 
* Переставьте эти две части местами, результат запишите в новую строку и выведите на экран.

**При решении этой задачи не стоит пользоваться инструкцией if.**

In [1]:
s = 'Hi'

print(s)

Hi